Repository apptension/saas-boilerplate: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx}": "eslint --fix",
  "*.{json,md,html}": "prettier --write"
}

chore: Regenerate graphql schema
  packages/webapp-libs/webapp-api-client/src/graphql/__generated/gql/gql.ts
  packages/webapp-libs/webapp-api-client/src/graphql/__generated/gql/graphql.ts
Due: eslint --fix

chore: Add tests in webapp tenants package
  packages/webapp-libs/webapp-tenants/src/routes/tenantSettings/tenantActivityLogs/components/__tests__/actionLogCard.component.spec.tsx
  packages/webapp-libs/webapp-tenants/src/routes/tenantSettings/tenantActivityLogs/components/__tests__/loggingSettingsCard.component.spec.tsx
  packages/webapp-libs/webapp-tenants/src/routes/tenantSettings/tenantSecuritySettings/components/__tests__/auditLogCard.component.spec.tsx
  packages/webapp-libs/webapp-tenants/src/routes/tenantSettings/tenantSecuritySettings/components/__tests__/directorySyncCard.component.spec.tsx
  packages/webapp-libs/webapp-tenants/src/routes/tenantSettings/tenantSecuritySettings/components/__tests__/passkeysCard.component.spec.tsx
Due: eslint --fix

fix: Fix accessibility issues
  packages/webapp-libs/webapp-tenants/src/components/tenantInvitationForm/tenantInvitationForm.component.tsx
  packages/webapp-libs/webapp-tenants/src/components/tenantMembersList/membershipEntry/membershipEntry.component.tsx
  packages/webapp-libs/webapp-tenants/src/routes/tenantSettings/tenantActivityLogs/components/actionLogCard.tsx
  packages/webapp-libs/webapp-tenants/src/routes/tenantSettings/tenantSecuritySettings/components/auditLogCard.tsx
Due: eslint --fix

fix: Backend tests
  packages/backend/apps/multitenancy/middleware.py
Due: none

chore: Add tests
  packages/webapp/src/app/components/defaultLocaleRedirect/__tests__/defaultLocaleRedirect.component.spec.tsx
  packages/webapp/src/routes/auth/ssoCallback/__tests__/ssoCallback.component.spec.tsx
  packages/webapp/src/routes/auth/ssoError/__tests__/ssoError.component.spec.tsx
  packages/webapp/src/shared/components/auth/passkeyLoginButton/__tests__/passkeyLoginButton.component.spec.tsx
  packages/webapp/src/shared/components/auth/passkeysForm/__tests__/passkeysForm.component.spec.tsx
  packages/webapp/src/shared/components/auth/ssoDiscovery/__tests__/ssoDiscovery.component.spec.tsx
Due: eslint --fix

chore: Exclude files from sonar cloud
  packages/webapp-libs/webapp-contentful/sonar-project.properties
  packages/webapp-libs/webapp-core/sonar-project.properties
  packages/webapp/sonar-project.properties
  packages/workers/sonar-project.properties
Due: none

Fix: Fix sonar cloud finding
  packages/webapp-libs/webapp-emails/src/components/commentContent/commentContent.component.tsx
Due: eslint --fix

chore: Increase test coverage in webapp emails package
  packages/webapp-libs/webapp-emails/src/__tests__/renderEmail.spec.tsx
  packages/webapp-libs/webapp-emails/src/base/divider/__tests__/divider.component.spec.tsx
  packages/webapp-libs/webapp-emails/src/base/footer/__tests__/footer.component.spec.tsx
  packages/webapp-libs/webapp-emails/src/base/heading/__tests__/heading.component.spec.tsx
  packages/webapp-libs/webapp-emails/src/base/preheader/__tests__/preheader.component.spec.tsx
  packages/webapp-libs/webapp-emails/src/base/text/__tests__/text.component.spec.tsx
  packages/webapp-libs/webapp-emails/src/components/commentContent/__tests__/commentContent.component.spec.tsx
Due: eslint --fix

chore: Increase test coverage in webapp notifications package
  packages/webapp-libs/webapp-emails/coverage/lcov-report/base.css
  packages/webapp-libs/webapp-emails/coverage/lcov-report/block-navigation.js
  packages/webapp-libs/webapp-emails/coverage/lcov-report/favicon.png
  packages/webapp-libs/webapp-emails/coverage/lcov-report/index.html
  packages/webapp-libs/webapp-emails/coverage/lcov-report/prettify.css
  packages/webapp-libs/webapp-emails/coverage/lcov-report/prettify.js
  packages/webapp-libs/webapp-emails/coverage/lcov-report/sort-arrow-sprite.png
  packages/webapp-libs/webapp-emails/coverage/lcov-report/sorter.js
  packages/webapp-libs/webapp-emails/coverage/lcov-report/src/base/base.styles.ts.html
  packages/webapp-libs/webapp-emails/coverage/lcov-report/src/base/button/button.component.tsx.html
  packages/webapp-libs/webapp-emails/coverage/lcov-report/src/base/button/button.styles.ts.html
  packages/webapp-libs/webapp-emails/coverage/lcov-report/src/base/button/index.html
  packages/webapp-libs/webapp-emails/coverage/lcov-report/src/base/button/index.ts.html
  packages/webapp-libs/webapp-emails/coverage/lcov-report/src/base/image/image.component.tsx.html
  packages/webapp-libs/webapp-emails/coverage/lcov-report/src/base/image/index.html
  packages/webapp-libs/webapp-emails/coverage/lcov-report/src/base/image/index.ts.html
  packages/webapp-libs/webapp-emails/coverage/lcov-report/src/base/index.html
  packages/webapp-libs/webapp-emails/coverage/lcov-report/src/base/layout/index.html
  packages/webapp-libs/webapp-emails/coverage/lcov-report/src/base/layout/index.ts.html
  packages/webapp-libs/webapp-emails/coverage/lcov-report/src/base/layout/layout.component.tsx.html
  packages/webapp-libs/webapp-emails/coverage/lcov-report/src/base/layout/layout.styles.ts.html
  packages/webapp-libs/webapp-emails/coverage/lcov-report/src/email.tsx.html
  packages/webapp-libs/webapp-emails/coverage/lcov-report/src/index.html
  packages/webapp-libs/webapp-emails/coverage/lcov-report/src/tests/utils/index.html
  packages/webapp-libs/webapp-emails/coverage/lcov-report/src/tests/utils/rendering.tsx.html
  packages/webapp-libs/webapp-emails/coverage/lcov-report/src/types.ts.html
  packages/webapp-libs/webapp-emails/coverage/lcov.info
  packages/webapp-libs/webapp-notifications/src/__tests__/notifications.component.spec.tsx
  packages/webapp-libs/webapp-notifications/src/notification/__tests__/notification.hooks.spec.tsx
  packages/webapp-libs/webapp-notifications/src/notificationsList/__tests__/notificationsList.hooks.spec.tsx
  packages/webapp-libs/webapp-notifications/src/tests/factories/notification.ts
Due: eslint --fix, prettier --write

chore: Add coverage to .gitignore
  packages/webapp-libs/webapp-ai-assistant/.gitignore
  packages/webapp-libs/webapp-contentful/.gitignore
  packages/webapp-libs/webapp-crud-demo/.gitignore
  packages/webapp-libs/webapp-documents/.gitignore
  packages/webapp-libs/webapp-finances/.gitignore
  packages/webapp-libs/webapp-generative-ai/.gitignore
  packages/webapp-libs/webapp-notifications/.gitignore
  packages/webapp-libs/webapp-sso/.gitignore
  packages/webapp-libs/webapp-tenants/.gitignore
Due: none

chore: Increase backend test coverage
  packages/backend/apps/integrations/ai_assistant/tests/test_consumer.py
  packages/backend/apps/integrations/ai_assistant/tests/test_subscription.py
  packages/backend/apps/multitenancy/tests/test_tasks.py
  packages/backend/apps/sso/tests/test_oidc_service.py
  packages/backend/apps/sso/tests/test_saml_service.py
  packages/backend/apps/sso/tests/test_scim_service.py
  packages/backend/apps/sso/tests/test_views_extended.py
  packages/backend/apps/translations/tests/conftest.py
  packages/backend/apps/translations/tests/test_tasks.py
  packages/backend/apps/translations/tests/test_views.py
  packages/backend/sonar-project.properties
Due: none

chore: Increase code coverage in webapp contentful package
  packages/webapp-libs/webapp-contentful/src/routes/demoItem/__tests__/demoItem.component.spec.tsx
  packages/webapp-libs/webapp-contentful/src/routes/demoItems/__tests__/demoItems.component.spec.tsx
Due: eslint --fix

chore: Refactor contentful changes
  packages/webapp-libs/webapp-contentful/src/components/contentfulContentPage/contentfulContentPage.component.tsx
  packages/webapp-libs/webapp-contentful/src/components/contentfulContentPage/contentfulContentPage.config.ts
  packages/webapp-libs/webapp-contentful/src/components/contentfulContentPage/contentfulContentPage.storyHelpers.tsx
  packages/webapp-libs/webapp-contentful/src/components/contentfulContentPage/contentfulContentPage.types.ts
  packages/webapp-libs/webapp-contentful/src/components/contentfulContentPage/index.ts
  packages/webapp-libs/webapp-contentful/src/components/contentfulContentPage/privacyPolicy.config.ts
  packages/webapp-libs/webapp-contentful/src/routes/privacyPolicy/privacyPolicy.component.tsx
  packages/webapp-libs/webapp-contentful/src/routes/privacyPolicy/privacyPolicy.stories.tsx
  packages/webapp-libs/webapp-contentful/src/routes/termsAndConditions/termsAndConditions.component.tsx
  packages/webapp-libs/webapp-contentful/src/routes/termsAndConditions/termsAndConditions.stories.tsx
Due: eslint --fix

chore: Increase test coverage in webapp tenants package
  packages/webapp-libs/webapp-tenants/src/components/tenantMembersList/membershipEntry/__tests__/membershipEntry.component.spec.tsx
  packages/webapp-libs/webapp-tenants/src/hooks/useTenantRoles/__tests__/useTenantRoles.hook.spec.tsx
  packages/webapp-libs/webapp-tenants/src/routes/tenantSettings/tenantActivityLogs/components/__tests__/actionLogCard.component.spec.tsx
  packages/webapp-libs/webapp-tenants/src/routes/tenantSettings/tenantSecuritySettings/components/__tests__/addSSOConnectionModal.component.spec.tsx
  packages/webapp-libs/webapp-tenants/src/routes/tenantSettings/tenantSecuritySettings/components/__tests__/auditLogCard.component.spec.tsx
Due: eslint --fix

chore: Increase test coverage
  packages/webapp-libs/webapp-core/src/components/ui/calendar/__tests__/calendarHeatmap.component.spec.tsx
  packages/webapp-libs/webapp-tenants/src/components/routes/permissionAuthRoute/__tests__/permissionAuthRoute.component.spec.tsx
  packages/webapp-libs/webapp-tenants/src/routes/tenantSettings/tenantRoles/__tests__/tenantRoles.component.spec.tsx
Due: eslint --fix

feat: Refactor SSO API
  packages/backend/apps/sso/schema.py
  packages/backend/apps/sso/serializers.py
  packages/backend/apps/sso/services/connection_test.py
  packages/backend/apps/sso/tests/test_security.py
  packages/backend/apps/sso/tests/test_views_extended.py
  packages/backend/apps/sso/urls.py
  packages/backend/apps/sso/views.py
  packages/webapp-libs/webapp-api-client/graphql/schema/api.graphql
  packages/webapp-libs/webapp-api-client/src/graphql/__generated/gql/gql.ts
  packages/webapp-libs/webapp-api-client/src/graphql/__generated/gql/graphql.ts
  packages/webapp-libs/webapp-tenants/src/hooks/index.ts
  packages/webapp-libs/webapp-tenants/src/hooks/useSSODiscover/index.ts
  packages/webapp-libs/webapp-tenants/src/hooks/useSSODiscover/useSSODiscover.hook.ts
  packages/webapp-libs/webapp-tenants/src/hooks/useTenantAuditLogs/index.ts
  packages/webapp-libs/webapp-tenants/src/hooks/useTenantAuditLogs/useTenantAuditLogs.hook.ts
  packages/webapp-libs/webapp-tenants/src/hooks/useTenantPasskeys/index.ts
  packages/webapp-libs/webapp-tenants/src/hooks/useTenantPasskeys/useTenantPasskeys.hook.ts
  packages/webapp-libs/webapp-tenants/src/hooks/useTenantSCIM/index.ts
  packages/webapp-libs/webapp-tenants/src/hooks/useTenantSCIM/useTenantSCIM.hook.ts
  packages/webapp-libs/webapp-tenants/src/hooks/useTenantSSO/index.ts
  packages/webapp-libs/webapp-tenants/src/hooks/useTenantSSO/useTenantSSO.hook.ts
  packages/webapp-libs/webapp-tenants/src/routes/tenantSettings/tenantSecuritySettings/components/__tests__/addSSOConnectionModal.component.spec.tsx
  packages/webapp-libs/webapp-tenants/src/routes/tenantSettings/tenantSecuritySettings/components/__tests__/directorySyncCard.component.spec.tsx
  packages/webapp-libs/webapp-tenants/src/routes/tenantSettings/tenantSecuritySettings/components/__tests__/passkeysCard.component.spec.tsx
  packages/webapp-libs/webapp-tenants/src/routes/tenantSettings/tenantSecuritySettings/components/__tests__/ssoConnectionCard.component.spec.tsx
  packages/webapp-libs/webapp-tenants/src/routes/tenantSettings/tenantSecuritySettings/components/addSSOConnectionModal.tsx
  packages/webapp-libs/webapp-tenants/src/routes/tenantSettings/tenantSecuritySettings/components/directorySyncCard.tsx
  packages/webapp-libs/webapp-tenants/src/routes/tenantSettings/tenantSecuritySettings/components/passkeysCard.tsx
  packages/webapp-libs/webapp-tenants/src/routes/tenantSettings/tenantSecuritySettings/components/ssoConnectionCard.tsx
  packages/webapp/src/shared/components/auth/passkeysForm/__tests__/passkeysForm.component.spec.tsx
  packages/webapp/src/shared/components/auth/passkeysForm/passkeysForm.component.tsx
  packages/webapp/src/shared/components/auth/ssoDiscovery/__tests__/ssoDiscovery.component.spec.tsx
  packages/webapp/src/shared/components/auth/ssoDiscovery/ssoDiscovery.component.tsx
Due: eslint --fix

refactor: Refactor scripts and run migrations in proper way
  .github/workflows/deploy-render.yml
  docker-compose.prod.yml
  packages/backend/scripts/runtime/run.sh
  packages/backend/scripts/runtime/run_migrations.sh
  render.yaml
Due: none

feat: Refactor AI assistant
  packages/backend/apps/integrations/ai_assistant/consumer.py
  packages/backend/apps/integrations/ai_assistant/subscription.py
  packages/backend/apps/integrations/ai_assistant/tests/test_consumer.py
  packages/backend/apps/integrations/ai_assistant/views.py
  packages/infra/mcp-server/operations/create-crud-demo-item.graphql
  packages/infra/mcp-server/operations/delete-crud-demo-item.graphql
  packages/infra/mcp-server/operations/get-action-logs.graphql
  packages/infra/mcp-server/operations/get-crud-demo-item.graphql
  packages/infra/mcp-server/operations/get-crud-demo-items.graphql
  packages/infra/mcp-server/operations/get-documents.graphql
  packages/infra/mcp-server/operations/get-organization-settings.graphql
  packages/infra/mcp-server/operations/update-crud-demo-item.graphql
  packages/webapp-libs/webapp-ai-assistant/src/components/commandPalette/commandPalette.component.tsx
  packages/webapp-libs/webapp-core/src/translations/ar.json
  packages/webapp-libs/webapp-core/src/translations/de.json
  packages/webapp-libs/webapp-core/src/translations/en.json
  packages/webapp-libs/webapp-core/src/translations/es.json
  packages/webapp-libs/webapp-core/src/translations/fr.json
  packages/webapp-libs/webapp-core/src/translations/hi.json
  packages/webapp-libs/webapp-core/src/translations/master.json
  packages/webapp-libs/webapp-core/src/translations/pl.json
  packages/webapp-libs/webapp-core/src/translations/translations_export.json
  packages/webapp-libs/webapp-core/src/translations/zh.json
Due: eslint --fix, prettier --write

docs: add Deploy on Hostinger button
  README.md
Due: prettier --write

fix: Decimal conversion
  packages/backend/common/graphql/scalars.py
  packages/backend/config/schema.py
Due: none

fix: Notifications list fixes, ACL checks fixes
  packages/backend/apps/multitenancy/middleware.py
  packages/backend/common/graphql/mutations.py
  packages/webapp-libs/webapp-core/src/components/ui/select.tsx
  packages/webapp-libs/webapp-notifications/src/notification/notification.component.tsx
  packages/webapp-libs/webapp-notifications/src/notificationsList/notificationsList.component.tsx
Due: eslint --fix

fix: Fix RBAC role check
  packages/backend/apps/multitenancy/models.py
Due: none

refactor: Refactor Markdown and Mention Editors to Enhance Mention Rendering
  packages/webapp-libs/webapp-core/src/components/markdownEditor/markdownEditor.component.tsx
  packages/webapp-libs/webapp-core/src/utils/mentions.tsx
Due: eslint --fix

feat: Remove legacy and use RBAC for personal tenant
  packages/backend/apps/multitenancy/managers.py
  packages/backend/apps/multitenancy/migrations/0022_rbac_backfill_default_tenants.py
  packages/backend/apps/multitenancy/models.py
  packages/backend/apps/multitenancy/tests/factories.py
Due: none

chore: Reformat files
  packages/backend/apps/backup/encryption.py
  packages/backend/apps/backup/management/commands/generate_tenant_key.py
  packages/backend/apps/backup/models.py
  packages/backend/apps/backup/modules.py
  packages/backend/apps/backup/restore.py
  packages/backend/apps/backup/schema.py
  packages/backend/apps/backup/tasks.py
  packages/backend/apps/backup/tests/test_cleanup.py
  packages/backend/apps/backup/tests/test_encryption.py
  packages/backend/apps/backup/tests/test_restore.py
  packages/backend/apps/backup/tests/test_scheduler.py
  packages/backend/apps/backup/tests/test_schema.py
  packages/backend/apps/backup/tests/test_tasks.py
  packages/backend/apps/multitenancy/middleware.py
  packages/backend/apps/multitenancy/schema.py
  packages/backend/apps/multitenancy/tests/factories.py
  packages/backend/apps/sso/enforcement.py
  packages/backend/apps/sso/schema.py
  packages/backend/apps/sso/security.py
  packages/backend/apps/sso/serializers.py
  packages/backend/apps/sso/services/scim.py
  packages/backend/apps/sso/services/secrets_helpers.py
  packages/backend/apps/sso/views.py
  packages/backend/common/graphql/mutations.py
  packages/backend/common/graphql/scalars.py
Due: none

chore: Update uv.lock
  packages/backend/uv.lock
Due: none

fix: Fix formatting issues and missing migrations
  packages/backend/apps/backup/management/commands/generate_tenant_key.py
  packages/backend/apps/backup/migrations/0003_alter_restorerecord_created_at_and_more.py
  packages/backend/apps/backup/models.py
  packages/backend/apps/backup/restore.py
  packages/backend/apps/backup/schema.py
  packages/backend/apps/backup/tasks.py
  packages/backend/apps/multitenancy/migrations/0022_rbac_backfill_default_tenants.py
  packages/backend/apps/multitenancy/migrations/0023_alter_permission_category.py
  packages/backend/apps/multitenancy/permissions.py
  packages/backend/apps/sso/migrations/0005_alter_ssoauditlog_event_type.py
  packages/backend/apps/sso/models.py
  packages/backend/apps/sso/services/provisioning.py
  packages/backend/common/graphql/scalars.py
  packages/backend/common/secrets/service.py
Due: none

fix: Fix typing issues
  packages/backend/apps/backup/restore.py
Due: none

fix: Fix tests
  packages/backend/apps/demo/tests/test_schema.py
  packages/backend/apps/finances/tests/test_schema.py
  packages/backend/apps/multitenancy/tests/test_schema.py
  packages/backend/apps/multitenancy/tests/test_serializers.py
  packages/backend/apps/sso/services/scim.py
  packages/backend/apps/sso/tests/test_integration.py
  packages/backend/common/tests/test_security.py
Due: none

fix: Fix tests
  .cursor/rules/backend.mdc
  .cursor/rules/top-rules.mdc
  packages/backend/apps/demo/notifications.py
  packages/backend/apps/multitenancy/schema.py
  packages/backend/apps/multitenancy/serializers.py
  packages/backend/apps/multitenancy/tests/test_schema.py
  packages/backend/apps/multitenancy/tests/test_serializers.py
  packages/backend/common/tests/test_security.py
Due: none

chore: Regenerate graphql
  packages/webapp-libs/webapp-api-client/graphql/schema/api.graphql
  packages/webapp-libs/webapp-api-client/src/graphql/__generated/gql/gql.ts
  packages/webapp-libs/webapp-api-client/src/graphql/__generated/gql/graphql.ts
Due: eslint --fix

fix: Fix webapp tests
  packages/webapp-libs/webapp-ai-assistant/jest.config.ts
  packages/webapp-libs/webapp-ai-assistant/src/__tests__/commandPalette.component.spec.tsx
  packages/webapp-libs/webapp-ai-assistant/src/tests/setupTests.ts
  packages/webapp-libs/webapp-ai-assistant/tsconfig.lib.json
  packages/webapp-libs/webapp-api-client/jest.config.ts
  packages/webapp-libs/webapp-backup/jest.config.ts
  packages/webapp-libs/webapp-contentful/jest.config.ts
  packages/webapp-libs/webapp-crud-demo/jest.config.ts
  packages/webapp-libs/webapp-documents/jest.config.ts
  packages/webapp-libs/webapp-emails/jest.config.ts
  packages/webapp-libs/webapp-finances/jest.config.ts
  packages/webapp-libs/webapp-notifications/jest.config.ts
  packages/webapp-libs/webapp-tenants/jest.config.ts
  packages/webapp-libs/webapp-tenants/src/routes/tenantSettings/tenantSecuritySettings/components/directorySyncCard.tsx
  packages/webapp-libs/webapp-tenants/src/routes/tenantSettings/tenantSecuritySettings/components/ssoConnectionCard.tsx
  packages/webapp/src/routes/auth/ssoCallback/__tests__/ssoCallback.component.spec.tsx
  packages/webapp/src/routes/auth/ssoLogin/ssoLogin.component.tsx
  packages/webapp/src/shared/components/auth/passkeyLoginButton/__tests__/passkeyLoginButton.component.spec.tsx
  packages/webapp/src/shared/components/auth/ssoDiscovery/__tests__/ssoDiscovery.component.spec.tsx
Due: eslint --fix, prettier --write

fix: Fix webapp tests
  packages/webapp-libs/webapp-generative-ai/jest.config.ts
  packages/webapp-libs/webapp-tenants/src/components/tenantInvitationForm/tenantInvitationForm.component.tsx
  packages/webapp-libs/webapp-tenants/src/hooks/useGenerateTenantPath/useGenerateTenantPath.hook.ts
  packages/webapp-libs/webapp-tenants/src/hooks/usePermissionCheck/usePermissionCheck.hook.ts
  packages/webapp-libs/webapp-tenants/src/providers/currentTenantProvider/currentTenantProvider.component.tsx
  packages/webapp-libs/webapp-tenants/src/routes/tenantInvitation/tenantInvitation.component.tsx
  packages/webapp-libs/webapp-tenants/src/routes/tenantSettings/tenantSecuritySettings/components/__tests__/auditLogCard.component.spec.tsx
  packages/webapp-libs/webapp-tenants/src/routes/tenantSettings/tenantSecuritySettings/components/__tests__/directorySyncCard.component.spec.tsx
  packages/webapp-libs/webapp-tenants/src/routes/tenantSettings/tenantSecuritySettings/components/__tests__/passkeysCard.component.spec.tsx
  packages/webapp-libs/webapp-tenants/src/routes/tenantSettings/tenantSecuritySettings/components/__tests__/ssoConnectionCard.component.spec.tsx
  packages/webapp-libs/webapp-tenants/src/routes/tenantSettings/tenantSecuritySettings/components/editSSOConnectionModal.tsx
Due: eslint --fix

chore: Move mcp server to the correct directory
  .github/workflows/deploy-render.yml
  docker-compose.prod.yml
  docker-compose.yml
  packages/internal/cli/src/commands/render/deploy.ts
  packages/internal/cli/src/commands/vps/deploy.ts
  packages/internal/docs/docs/introduction/features/ai-agent.mdx
  packages/mcp-server/Dockerfile
  packages/mcp-server/README.md
  packages/mcp-server/config.yaml
  packages/mcp-server/docker-entrypoint.sh
  packages/mcp-server/operations/create-crud-demo-item.graphql
  packages/mcp-server/operations/delete-crud-demo-item.graphql
  packages/mcp-server/operations/get-action-logs.graphql
  packages/mcp-server/operations/get-crud-demo-item.graphql
  packages/mcp-server/operations/get-crud-demo-items.graphql
  packages/mcp-server/operations/get-current-user.graphql
  packages/mcp-server/operations/get-documents.graphql
  packages/mcp-server/operations/get-notifications.graphql
  packages/mcp-server/operations/get-subscription-status.graphql
  packages/mcp-server/operations/get-user-permissions.graphql
  packages/mcp-server/operations/get-user-tenants.graphql
  packages/mcp-server/operations/update-crud-demo-item.graphql
  packages/mcp-server/package.json
  packages/mcp-server/project.json
  packages/mcp-server/scripts/build.js
  packages/webapp-libs/webapp-api-client/src/graphql/__generated/gql/gql.ts
  pnpm-lock.yaml
  render.yaml
Due: eslint --fix, prettier --write

deps: Bump AWS CDK CLI
  package.json
  packages/internal/cli/tsconfig.tsbuildinfo
  pnpm-lock.yaml
Due: prettier --write
