Repository apptension/saas-boilerplate: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix: resolve Jest ESM compatibility and test assertion issues
  jest.preset.js
  packages/webapp-libs/webapp-api-client/src/hooks/usePaginatedQuery/__tests__/usePaginatedQuery.hook.spec.tsx
  packages/webapp-libs/webapp-api-client/src/hooks/usePaginatedQuery/usePaginatedQuery.hook.ts
  packages/webapp-libs/webapp-api-client/src/tests/mocks/apolloUploadClient.ts
  packages/webapp-libs/webapp-api-client/src/tests/utils/rendering.tsx
  packages/webapp-libs/webapp-contentful/jest.config.ts
  packages/webapp-libs/webapp-contentful/src/hooks/useFavoriteDemoItem/__tests__/useFavoriteDemoItem.hook.spec.tsx
  packages/webapp-libs/webapp-contentful/src/routes/demoItems/demoItemListItem/__tests__/demoItemListItem.component.spec.tsx
  packages/webapp-libs/webapp-core/jest.config.ts
  packages/webapp-libs/webapp-core/src/tests/mocks/reactMarkdown.tsx
  packages/webapp-libs/webapp-core/src/tests/setupTests.ts
  packages/webapp-libs/webapp-crud-demo/src/routes/crudDemoItem/addCrudDemoItem/__tests__/addCrudDemoItem.component.spec.tsx
  packages/webapp-libs/webapp-crud-demo/src/routes/crudDemoItem/editCrudDemoItem/__tests__/editCrudDemoItem.component.spec.tsx
  packages/webapp-libs/webapp-crud-demo/src/tests/factories/crudDemoItem.ts
  packages/webapp-libs/webapp-documents/src/routes/documents/__tests__/documents.component.spec.tsx
  packages/webapp-libs/webapp-emails/src/__tests__/email.spec.tsx
  packages/webapp-libs/webapp-finances/src/components/stripe/stripePaymentForm/__tests__/stripePaymentForm.component.spec.tsx
  packages/webapp-libs/webapp-finances/src/routes/cancelSubscription/__tests__/cancelSubscription.component.spec.tsx
  packages/webapp-libs/webapp-finances/src/routes/editPaymentMethod/editPaymentMethodForm/__tests__/editPaymentMethodForm.component.spec.tsx
  packages/webapp-libs/webapp-tenants/src/components/tenantDangerZone/__tests__/tenantDangerZone.component.spec.tsx
  packages/webapp-libs/webapp-tenants/src/components/tenantMembersList/__tests__/__snapshots__/tenantMembersList.component.spec.tsx.snap
  packages/webapp-libs/webapp-tenants/src/components/tenantMembersList/membershipEntry/__tests__/membershipEntry.component.spec.tsx
  packages/webapp-libs/webapp-tenants/src/routes/addTenantForm/__tests__/addTenantForm.component.spec.tsx
  packages/webapp-libs/webapp-tenants/src/routes/tenantInvitation/__tests__/tenantInvitation.component.spec.tsx
  packages/webapp-libs/webapp-tenants/src/routes/tenantSettings/tenantGeneralSettings/__tests__/tenantGeneralSettings.component.spec.tsx
  packages/webapp-libs/webapp-tenants/src/routes/tenantSettings/tenantMembers/invitationForm/__tests__/invitationForm.component.spec.tsx
Due: eslint --fix

fix: resolve ruff linting issues and improve code quality
  packages/backend/apps/integrations/openai/client.py
  packages/backend/apps/integrations/tests/test_clients.py
  packages/backend/apps/multitenancy/models.py
  packages/backend/apps/multitenancy/tests/test_serializers.py
  packages/backend/apps/multitenancy/tokens.py
  packages/backend/apps/sso/models.py
  packages/backend/apps/sso/serializers.py
  packages/backend/apps/sso/services/oidc.py
  packages/backend/apps/sso/services/provisioning.py
  packages/backend/apps/sso/services/saml.py
  packages/backend/apps/sso/services/scim.py
  packages/backend/apps/sso/services/secrets.py
  packages/backend/apps/sso/services/webauthn.py
  packages/backend/apps/sso/signals.py
  packages/backend/apps/sso/tests/factories.py
  packages/backend/apps/sso/tests/fixtures.py
  packages/backend/apps/sso/views.py
  packages/backend/apps/translations/admin.py
  packages/backend/apps/translations/ai_service.py
  packages/backend/apps/translations/schema.py
  packages/backend/apps/translations/services.py
  packages/backend/apps/translations/tasks.py
  packages/backend/apps/translations/tests/test_services.py
  packages/backend/apps/translations/views.py
  packages/backend/apps/users/jwt.py
  packages/backend/project.json
  packages/webapp-libs/webapp-api-client/src/graphql/__generated/gql/gql.ts
  packages/webapp-libs/webapp-api-client/src/graphql/__generated/gql/graphql.ts
Due: eslint --fix, prettier --write

fix: prevent blank page on session expiration and improve auth error handling
  packages/backend/apps/users/authentication.py
  packages/webapp-libs/webapp-api-client/src/graphql/apolloClient.ts
  packages/webapp-libs/webapp-api-client/src/graphql/index.ts
  packages/webapp-libs/webapp-api-client/src/graphql/webSocketLink.ts
  packages/webapp-libs/webapp-api-client/src/providers/commonQuery/commonQuery.component.tsx
  packages/webapp/src/app/providers/sentry.tsx
  packages/webapp/src/routes/auth/login/login.component.tsx
Due: eslint --fix

chore: upgrade Storybook to v10 and fix compatibility issues
  package.json
  packages/webapp/.storybook/main.ts
  packages/webapp/.storybook/stubs/addon-actions.ts
  packages/webapp/.storybook/stubs/msw-browser.ts
  packages/webapp/.storybook/stubs/msw-core-http.ts
  packages/webapp/package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

fix: resolve email template React warnings and story issues
  packages/webapp-libs/webapp-emails/src/base/button/button.component.tsx
  packages/webapp-libs/webapp-emails/src/base/layout/layout.component.tsx
  packages/webapp-libs/webapp-emails/src/base/layout/layout.styles.ts
  packages/webapp-libs/webapp-emails/src/templates/tenantInvitation/tenantInvitation.stories.tsx
Due: eslint --fix

copy(emails): improve email copy for better user experience
  packages/webapp-libs/webapp-core/src/translations/en.json
  packages/webapp-libs/webapp-emails/src/templates/accountActivation/accountActivation.component.tsx
  packages/webapp-libs/webapp-emails/src/templates/passwordReset/passwordReset.component.tsx
  packages/webapp-libs/webapp-emails/src/templates/subscriptionError/subscriptionError.component.tsx
  packages/webapp-libs/webapp-emails/src/templates/tenantInvitation/tenantInvitation.component.tsx
  packages/webapp-libs/webapp-emails/src/templates/trialExpiresSoon/trialExpiresSoon.component.tsx
  packages/webapp-libs/webapp-emails/src/templates/userExport/userExport.component.tsx
  packages/webapp-libs/webapp-emails/src/templates/userExportAdmin/userExportAdmin.component.tsx
Due: eslint --fix, prettier --write

feat: add user preferred language and password strength validation
  packages/backend/apps/finances/notifications.py
  packages/backend/apps/finances/tests/test_webhooks.py
  packages/backend/apps/multitenancy/notifications.py
  packages/backend/apps/multitenancy/serializers.py
  packages/backend/apps/multitenancy/services/membership.py
  packages/backend/apps/users/migrations/0002_userprofile_language.py
  packages/backend/apps/users/models.py
  packages/backend/apps/users/notifications.py
  packages/backend/apps/users/schema.py
  packages/backend/apps/users/serializers.py
  packages/backend/apps/users/services/export/emails.py
  packages/backend/apps/users/services/export/services/user.py
  packages/backend/common/emails.py
  packages/webapp-libs/webapp-api-client/graphql/schema/api.graphql
  packages/webapp-libs/webapp-api-client/src/graphql/__generated/gql/gql.ts
  packages/webapp-libs/webapp-api-client/src/graphql/__generated/gql/graphql.ts
  packages/webapp-libs/webapp-api-client/src/providers/commonQuery/commonQuery.graphql.ts
  packages/webapp-libs/webapp-api-client/src/tests/factories/auth.ts
  packages/webapp-libs/webapp-core/src/components/passwordStrength/index.ts
  packages/webapp-libs/webapp-core/src/components/passwordStrength/passwordRequirements.component.tsx
  packages/webapp-libs/webapp-core/src/components/passwordStrength/passwordStrength.utils.ts
  packages/webapp-libs/webapp-core/src/components/passwordStrength/passwordStrengthIndicator.component.tsx
  packages/webapp-libs/webapp-core/src/translations/en.json
  packages/webapp-libs/webapp-emails/src/email.tsx
  packages/webapp-libs/webapp-emails/src/index.tsx
  packages/webapp/src/shared/components/auth/changePasswordForm/__tests__/changePasswordForm.component.spec.tsx
  packages/webapp/src/shared/components/auth/changePasswordForm/changePasswordForm.component.tsx
  packages/webapp/src/shared/components/auth/changePasswordForm/changePasswordForm.hooks.ts
  packages/webapp/src/shared/components/auth/editProfileForm/__tests__/editProfileForm.component.spec.tsx
  packages/webapp/src/shared/components/auth/editProfileForm/editProfileForm.component.tsx
  packages/webapp/src/shared/components/auth/editProfileForm/editProfileForm.hooks.ts
  packages/webapp/src/shared/components/auth/editProfileForm/editProfileForm.types.ts
  packages/webapp/src/shared/components/auth/passwordResetConfirmForm/passwordResetConfirmForm.component.tsx
  packages/webapp/src/shared/components/auth/passwordResetConfirmForm/passwordResetConfirmForm.hooks.ts
  packages/webapp/src/shared/components/auth/signupForm/__tests__/signupForm.component.spec.tsx
  packages/webapp/src/shared/components/auth/signupForm/signupForm.component.tsx
  packages/webapp/src/shared/components/auth/signupForm/signupForm.hooks.ts
Due: eslint --fix, prettier --write

chore: Comment render deployment
  .github/workflows/deploy-render.yml
Due: none

fix: Update github runners
  .github/workflows/backend.yml
  .github/workflows/docs.yml
  .github/workflows/infra.yml
  .github/workflows/status-dashboard.yml
  .github/workflows/tools.yml
  .github/workflows/webapp.yml
  .github/workflows/workers.yml
  packages/backend/apps/multitenancy/constants.py
  packages/backend/apps/multitenancy/migrations/0015_rename_dashboard_to_management.py
  packages/backend/apps/multitenancy/migrations/0016_alter_permission_category.py
  packages/backend/config/asgi.py
Due: none

fix: Fix Sonarcube scans
  .github/workflows/backend.yml
Due: none

deps: Update GH actions nodejs versions
  .github/workflows/backend.yml
  .github/workflows/docs.yml
  .github/workflows/infra.yml
  .github/workflows/status-dashboard.yml
  .github/workflows/tools.yml
  .github/workflows/webapp.yml
  .github/workflows/workers.yml
Due: none

fix: Fix ruff formating
  packages/backend/apps/integrations/ai_assistant/consumer.py
  packages/backend/apps/integrations/ai_assistant/subscription.py
  packages/backend/apps/integrations/ai_assistant/views.py
  packages/backend/apps/multitenancy/middleware.py
  packages/backend/apps/multitenancy/models.py
  packages/backend/apps/multitenancy/schema.py
  packages/backend/apps/multitenancy/serializers.py
  packages/backend/apps/sso/security.py
  packages/backend/apps/sso/services/oidc.py
  packages/backend/apps/sso/services/saml.py
  packages/backend/apps/sso/views.py
  packages/backend/apps/translations/management/commands/export_translations.py
  packages/backend/common/action_logging/decorators.py
  packages/backend/common/action_logging/service.py
  packages/backend/scripts/runtime/run_tests.sh
  packages/webapp-libs/webapp-api-client/src/graphql/__generated/gql/gql.ts
Due: eslint --fix

fix: Add missing migration
  packages/backend/apps/multitenancy/migrations/0021_remove_organizationrole_unique_system_role_per_tenant_and_more.py
Due: none

fix: Fix tests
  packages/backend/apps/integrations/tests/test_clients.py
Due: none

fix: Fix tests
  packages/webapp-libs/webapp-tenants/src/routes/tenantSettings/tenantSecuritySettings/__tests__/tenantSecuritySettings.component.spec.tsx
  packages/webapp-libs/webapp-tenants/src/routes/tenantSettings/tenantSecuritySettings/components/__tests__/ssoConnectionCard.component.spec.tsx
Due: eslint --fix

fix: Fix tests
  packages/webapp-libs/webapp-tenants/src/components/tenantMembersList/__tests__/__snapshots__/tenantMembersList.component.spec.tsx.snap
Due: none

fix: Fix sonar issue
  packages/workers/Dockerfile
Due: none

fix: Fix CDK issue
  packages/infra/infra-shared/src/patterns/webAppCloudFrontDistribution.ts
  packages/webapp-libs/webapp-api-client/src/graphql/apolloClient.ts
Due: eslint --fix

feat: Replace pdm with uv in workers
  packages/workers/.dockerignore
  packages/workers/.pdm-python
  packages/workers/Dockerfile
  packages/workers/eslint.config.js
  packages/workers/pdm.lock
  packages/workers/pdm.toml
  packages/workers/pyproject.toml
  packages/workers/scripts/runtime/run_build.sh
  packages/workers/scripts/runtime/run_deploy.sh
  packages/workers/setup.cfg
  packages/workers/uv.lock
  packages/workers/workers.conf.yml
Due: none

feat: Replace pdm with uv in backend
  README.md
  packages/backend/.dockerignore
  packages/backend/.gitignore
  packages/backend/Dockerfile
  packages/backend/Dockerfile.render
  packages/backend/apps/sso/README.md
  packages/backend/pdm.lock
  packages/backend/pdm.toml
  packages/backend/pyproject.toml
  packages/backend/scripts/runtime/run.sh
  packages/backend/scripts/runtime/run_celery_beat.sh
  packages/backend/scripts/runtime/run_celery_flower.sh
  packages/backend/scripts/runtime/run_celery_worker_default.sh
  packages/backend/scripts/runtime/run_local_celery_flower.sh
  packages/backend/scripts/runtime/run_local_celery_worker_default.sh
  packages/backend/uv.lock
  packages/internal/docs/docs/features/enterprise-sso/index.mdx
  packages/internal/docs/docs/getting-started/index.mdx
  packages/internal/docs/docs/getting-started/run-project/_requirements.mdx
  packages/internal/docs/docs/introduction/coding-standards/formatters/index.mdx
  packages/internal/docs/docs/introduction/coding-standards/index.mdx
  packages/internal/docs/docs/introduction/coding-standards/linters/index.mdx
  packages/internal/docs/docs/working-with-sb/async-workers/index.mdx
  packages/internal/docs/docs/working-with-sb/dev-tools/sentry.mdx
  packages/internal/docs/docs/working-with-sb/translations/add-language.mdx
  packages/internal/docs/docs/working-with-sb/translations/ai-translate.mdx
  packages/internal/docs/docs/working-with-sb/translations/manage-translations.mdx
Due: prettier --write

fix: Fix workers tests
  packages/workers/pyproject.toml
  packages/workers/setup.py
  packages/workers/uv.lock
Due: none

fix: Increase the nodejs memory to fix docs build
  .github/workflows/docs.yml
  packages/internal/docs/project.json
Due: prettier --write

fix: Update docusaurus and fix docs build
  packages/backend/scripts/buildDocs.js
  packages/internal/cli/tsconfig.tsbuildinfo
  packages/internal/docs/docusaurus.config.js
  packages/internal/docs/package.json
  pnpm-lock.yaml
Due: prettier --write

fix: Remove not used MentionEditor component
  packages/webapp-libs/webapp-core/src/components/mentionEditor/index.ts
  packages/webapp-libs/webapp-core/src/components/mentionEditor/mentionEditor.component.tsx
  packages/webapp-libs/webapp-core/src/components/mentionEditor/mentionEditor.graphql.ts
Due: eslint --fix

chore: Tidy components and add tests
  packages/webapp-libs/webapp-core/src/components/ui/datePicker/__tests__/dueDatePicker.component.spec.tsx
  packages/webapp-libs/webapp-core/src/components/ui/datePicker/__tests__/monthPicker.component.spec.tsx
  packages/webapp-libs/webapp-core/src/components/ui/datePicker/dueDatePicker.component.tsx
  packages/webapp-libs/webapp-core/src/components/ui/datePicker/monthPicker.component.tsx
  packages/webapp-libs/webapp-core/src/components/ui/dateRangePicker/__tests__/dateRangePicker.component.spec.tsx
  packages/webapp-libs/webapp-core/src/components/ui/dateRangePicker/dateRangePicker.component.tsx
  packages/webapp-libs/webapp-core/src/components/ui/formDateRangePicker/__tests__/formDateRangePicker.component.spec.tsx
  packages/webapp-libs/webapp-core/src/components/ui/formDateRangePicker/formDateRangePicker.component.tsx
  packages/webapp-libs/webapp-core/src/translations/master.json
  packages/webapp/src/shared/components/languageSwitcher/__tests__/languageSwitcher.component.spec.tsx
  packages/webapp/src/shared/components/languageSwitcher/index.ts
  packages/webapp/src/shared/components/languageSwitcher/languageSwitcher.component.tsx
  packages/webapp/src/shared/components/languageSwitcher/languageSwitcher.hooks.ts
  packages/webapp/src/shared/components/languageSwitcher/languageSwitcher.stories.tsx
Due: eslint --fix, prettier --write

fix: Exclude setup.py from test coverage
  packages/workers/.coveragerc
Due: none

chore: Increase code coverage in webapp-tenants
  packages/webapp-libs/webapp-tenants/src/components/tenantSwitch/__tests__/tenantSwitchSidebar.component.spec.tsx
  packages/webapp-libs/webapp-tenants/src/notifications/actionLogExportFailed/__tests__/actionLogExportFailed.component.spec.tsx
  packages/webapp-libs/webapp-tenants/src/notifications/actionLogExportReady/__tests__/actionLogExportReady.component.spec.tsx
  packages/webapp-libs/webapp-tenants/src/notifications/tenantInvitationAccepted/__tests__/tenantInvitationAccepted.component.spec.tsx
  packages/webapp-libs/webapp-tenants/src/notifications/tenantInvitationDeclined/__tests__/tenantInvitationDeclined.component.spec.tsx
  packages/webapp-libs/webapp-tenants/src/routes/accessDenied/__tests__/accessDenied.component.spec.tsx
  packages/webapp-libs/webapp-tenants/src/routes/tenantSettings/__tests__/tenantSettings.component.spec.tsx
  packages/webapp-libs/webapp-tenants/src/routes/tenantSettings/tenantSecuritySettings/components/__tests__/addPasskeyModal.component.spec.tsx
Due: eslint --fix

chore: Add some backend tests
  packages/backend/common/task_backends/tests/__init__.py
  packages/backend/common/task_backends/tests/test_celery_tasks.py
  packages/backend/common/task_backends/tests/test_task_backends.py
Due: none

fix: Increase test coverage for the webapp crud demo package
  packages/webapp-libs/webapp-crud-demo/src/routes/crudDemoItem/crudDemoItemList/crudDemoItemListItem/__tests__/crudDemoItemListItem.component.spec.tsx
  packages/webapp-libs/webapp-crud-demo/src/routes/crudDemoItem/crudDemoItemList/crudDemoItemListItem/crudDemoItemListItem.component.tsx
  packages/webapp-libs/webapp-crud-demo/src/routes/crudDemoItem/crudDemoItemList/crudDemoItemListItem/crudDropdownMenu/crudDropdownMenu.component.tsx
Due: eslint --fix

fix: Increase test coverage for the webapp core package
  packages/webapp-libs/webapp-core/jest.config.ts
  packages/webapp-libs/webapp-core/src/components/fileSize/__tests__/fileSize.component.spec.tsx
  packages/webapp-libs/webapp-core/src/components/markdownEditor/__tests__/markdownEditor.component.spec.tsx
  packages/webapp-libs/webapp-core/src/components/passwordStrength/__tests__/passwordRequirements.component.spec.tsx
  packages/webapp-libs/webapp-core/src/components/passwordStrength/__tests__/passwordStrength.utils.spec.ts
  packages/webapp-libs/webapp-core/src/components/passwordStrength/__tests__/passwordStrengthIndicator.component.spec.tsx
  packages/webapp-libs/webapp-core/src/tests/mocks/remarkGfm.ts
  packages/webapp-libs/webapp-crud-demo/src/routes/crudDemoItem/crudDemoItemDetails/__tests__/crudDemoItemDetails.component.spec.tsx
Due: eslint --fix

fix: Increase test coverage for the webapp tenants package
  packages/webapp-libs/webapp-tenants/src/components/permissionGate/__tests__/permissionGate.component.spec.tsx
  packages/webapp-libs/webapp-tenants/src/components/tenantMembersList/__tests__/__snapshots__/tenantMembersList.component.spec.tsx.snap
  packages/webapp-libs/webapp-tenants/src/hooks/usePermissionCheck/__tests__/usePermissionCheck.hook.spec.tsx
  packages/webapp-libs/webapp-tenants/src/notifications/tenantInvitationCreated/__tests__/tenantInvitationCreated.component.spec.tsx
Due: eslint --fix

fix: Increase test coverage for the webapp notification package
  packages/webapp-libs/webapp-notifications/src/notification/__tests__/notification.component.spec.tsx
Due: eslint --fix

fix: Fix failing snapshot
  packages/webapp-libs/webapp-tenants/src/components/tenantMembersList/__tests__/__snapshots__/tenantMembersList.component.spec.tsx.snap
Due: none

fix: Increase test coverage for the webapp notifications package
  packages/webapp-libs/webapp-notifications/src/notification/__tests__/notification.component.spec.tsx
  packages/webapp-libs/webapp-notifications/src/notification/button/__tests__/button.component.spec.tsx
  packages/webapp-libs/webapp-notifications/src/notificationsButton/__tests__/notificationsButton.component.spec.tsx
  packages/webapp-libs/webapp-notifications/src/notificationsList/__tests__/notificationsList.component.spec.tsx
  packages/webapp-libs/webapp-notifications/src/notificationsList/notificationErrorBoundary/__tests__/notificationErrorBoundary.component.spec.tsx
Due: eslint --fix

fix: Increase test coverage for the webapp package
  packages/webapp/src/shared/components/auth/avatarForm/__tests__/avatarForm.component.spec.tsx
  packages/webapp/src/shared/components/auth/floatingThemeToggle/__tests__/floatingThemeToggle.component.spec.tsx
  packages/webapp/src/shared/components/layout/header/__tests__/header.component.spec.tsx
  packages/webapp/src/shared/components/layout/header/languageSwitcher/__tests__/languageSwitcher.component.spec.tsx
  packages/webapp/src/shared/components/layout/sidebar/sidebarLogo/__tests__/sidebarLogo.component.spec.tsx
  packages/webapp/src/shared/components/welcomeModal/__tests__/welcomeModal.component.spec.tsx
Due: eslint --fix

fix: Increase test coverage for the webapp tenants package
  packages/webapp-libs/webapp-tenants/src/components/tenantMembersList/__tests__/__snapshots__/tenantMembersList.component.spec.tsx.snap
  packages/webapp-libs/webapp-tenants/src/components/tenantMembersList/__tests__/tenantMembersList.component.spec.tsx
  packages/webapp-libs/webapp-tenants/src/hooks/usePermissionCheck/__tests__/usePermissionCheck.hook.spec.tsx
  packages/webapp-libs/webapp-tenants/src/notifications/actionLogExportReady/__tests__/actionLogExportReady.component.spec.tsx
  packages/webapp-libs/webapp-tenants/src/notifications/tenantInvitationCreated/__tests__/tenantInvitationCreated.component.spec.tsx
  packages/webapp-libs/webapp-tenants/src/routes/tenantSettings/tenantMembers/invitationForm/__tests__/invitationForm.component.spec.tsx
Due: eslint --fix

fix: tenant removal, fix for status, fix token refresh mechanism
  packages/backend/apps/multitenancy/middleware.py
  packages/backend/apps/multitenancy/schema.py
  packages/webapp-libs/webapp-api-client/src/graphql/apolloClient.ts
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: any of: *.{json,md,html}
