Repository apptension/saas-boilerplate: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Move config from liststagedrc to prettierignore file
  .lintstagedrc
  .prettierignore
Due: none

fix: #598 Handle non-existent CRUD item with error and redirect (#636)
  packages/backend/apps/demo/schema.py
  packages/backend/apps/demo/tests/test_schema.py
  packages/webapp-libs/webapp-crud-demo/src/routes/crudDemoItem/crudDemoItemDetails/crudDemoItemDetails.component.tsx
Due: eslint --fix

PR comments
  packages/webapp-libs/webapp-api-client/src/tests/factories/auth.ts
Due: eslint --fix

fix: #596 Redirect on role change to member and update current user state (#638)
  packages/webapp-libs/webapp-api-client/src/graphql/__generated/gql/gql.ts
  packages/webapp-libs/webapp-api-client/src/graphql/__generated/gql/graphql.ts
  packages/webapp-libs/webapp-api-client/src/providers/commonQuery/commonQuery.graphql.ts
  packages/webapp-libs/webapp-api-client/src/tests/factories/auth.ts
  packages/webapp-libs/webapp-tenants/src/components/tenantDangerZone/tenantDangerZone.component.tsx
  packages/webapp-libs/webapp-tenants/src/components/tenantMembersList/membershipEntry/__tests__/membershipEntry.component.spec.tsx
  packages/webapp-libs/webapp-tenants/src/components/tenantMembersList/membershipEntry/membershipEntry.component.tsx
  packages/webapp-libs/webapp-tenants/src/components/tenantMembersList/membershipEntry/membershipEntry.graphql.ts
  packages/webapp-libs/webapp-tenants/src/components/tenantMembersList/tenantMembersList.component.tsx
  packages/webapp-libs/webapp-tenants/src/components/tenantSwitch/tenantSwitch.component.tsx
  packages/webapp-libs/webapp-tenants/src/hooks/index.ts
  packages/webapp-libs/webapp-tenants/src/hooks/useCurrentTenantMembership/__tests__/useCurrentTenantMembership.hook.spec.tsx
  packages/webapp-libs/webapp-tenants/src/hooks/useCurrentTenantMembership/index.ts
  packages/webapp-libs/webapp-tenants/src/hooks/useCurrentTenantMembership/useCurrentTenantMembership.hook.ts
  packages/webapp-libs/webapp-tenants/src/hooks/useCurrentTenantRole/useCurrentTenantRole.hook.ts
  packages/webapp-libs/webapp-tenants/src/notifications/tenantInvitationCreated/tenantInvitationCreated.component.tsx
  packages/webapp-libs/webapp-tenants/src/providers/currentTenantProvider/currentTenantProvider.component.tsx
  packages/webapp-libs/webapp-tenants/src/providers/currentTenantProvider/currentTenantProvider.utils.ts
  packages/webapp-libs/webapp-tenants/src/routes/tenantInvitation/tenantInvitation.component.tsx
  packages/webapp/src/routes/home/__tests__/home.component.spec.tsx
  packages/webapp/src/routes/home/home.component.tsx
Due: eslint --fix

chore: Update vitejs
  package.json
  packages/webapp/package.json
  pnpm-lock.yaml
Due: prettier --write

chore: Bump vitejs to 5.4.14 (#659)
  package.json
  packages/webapp/package.json
  pnpm-lock.yaml
Due: prettier --write

fix: #642 Ignore whole backend/templates directory on precommit linter (#657)
  .prettierignore
Due: none

feat: #656 Add graphql query pagination
  packages/backend/apps/demo/schema.py
  packages/backend/apps/demo/tests/test_schema.py
  packages/backend/common/graphql/pagination/fields.py
  packages/backend/common/graphql/pagination/helpers.py
  packages/backend/common/graphql/pagination/pagination.py
Due: none

feat: #656 Add paged pagination query to crud demo items
  packages/webapp-libs/webapp-api-client/graphql/schema/api.graphql
  packages/webapp-libs/webapp-api-client/src/graphql/__generated/gql/gql.ts
  packages/webapp-libs/webapp-api-client/src/graphql/__generated/gql/graphql.ts
  packages/webapp-libs/webapp-api-client/src/hooks/usePagedPaginatedQuery/index.ts
  packages/webapp-libs/webapp-api-client/src/hooks/usePagedPaginatedQuery/usePagedPaginatedQuery.hook.ts
  packages/webapp-libs/webapp-core/src/components/pagedPagination/__tests__/pagedPagination.component.spec.tsx
  packages/webapp-libs/webapp-core/src/components/pagedPagination/index.ts
  packages/webapp-libs/webapp-core/src/components/pagedPagination/pagedPagination.component.tsx
  packages/webapp-libs/webapp-core/src/components/pagedPagination/pagedPagination.stories.tsx
  packages/webapp-libs/webapp-core/src/components/table/tableFooter/__tests__/tableFooter.component.spec.tsx
  packages/webapp-libs/webapp-core/src/components/table/tableFooter/index.ts
  packages/webapp-libs/webapp-core/src/components/table/tableFooter/tableFooter.component.tsx
  packages/webapp-libs/webapp-core/src/components/table/tableFooter/tableFooter.stories.tsx
  packages/webapp-libs/webapp-crud-demo/src/routes/crudDemoItem/addCrudDemoItem/__tests__/addCrudDemoItem.component.spec.tsx
  packages/webapp-libs/webapp-crud-demo/src/routes/crudDemoItem/addCrudDemoItem/addCrudDemoItem.component.tsx
  packages/webapp-libs/webapp-crud-demo/src/routes/crudDemoItem/crudDemoItemList/__tests__/crudDemoItemList.component.spec.tsx
  packages/webapp-libs/webapp-crud-demo/src/routes/crudDemoItem/crudDemoItemList/crudDemoItemList.component.tsx
  packages/webapp/plop/crud/templates/components/addItem/addItem.component.hbs
  packages/webapp/plop/crud/templates/components/itemList/itemList.component.hbs
Due: eslint --fix

feat: #656 Add tests to usePagedPaginatedQuery
  packages/webapp-libs/webapp-api-client/src/graphql/__generated/gql/gql.ts
  packages/webapp-libs/webapp-api-client/src/graphql/__generated/gql/graphql.ts
  packages/webapp-libs/webapp-api-client/src/hooks/usePagedPaginatedQuery/__tests__/usePagedPaginatedQuery.graphql.ts
  packages/webapp-libs/webapp-api-client/src/hooks/usePagedPaginatedQuery/__tests__/usePagedPaginatedQuery.hook.spec.tsx
  packages/webapp-libs/webapp-api-client/src/hooks/usePagedPaginatedQuery/usePagedPaginatedQuery.hook.ts
  packages/webapp-libs/webapp-api-client/src/tests/factories/pagination.ts
  packages/webapp-libs/webapp-api-client/src/tests/utils/fixtures.ts
Due: eslint --fix

feat: #656 Add tests additional to usePagedPaginatedQuery
  packages/webapp-libs/webapp-api-client/src/hooks/usePagedPaginatedQuery/__tests__/usePagedPaginatedQuery.hook.spec.tsx
Due: eslint --fix

feat: #656 Update lock
  pnpm-lock.yaml
Due: none

Add pagination backend tests
  packages/backend/apps/demo/tests/test_schema.py
Due: none

feat: #656 Fix lock file
  pnpm-lock.yaml
Due: none

feat: #656 Add additional tests to usePagedPaginatedQuery
  packages/webapp-libs/webapp-api-client/src/hooks/usePagedPaginatedQuery/__tests__/usePagedPaginatedQuery.hook.spec.tsx
Due: eslint --fix

feat: #656 Move PAGE_SIZE_OPTIONS to core
  packages/webapp-libs/webapp-api-client/src/hooks/usePagedPaginatedQuery/index.ts
  packages/webapp-libs/webapp-api-client/src/hooks/usePagedPaginatedQuery/usePagedPaginatedQuery.hook.ts
  packages/webapp-libs/webapp-core/src/components/table/index.ts
  packages/webapp-libs/webapp-core/src/components/table/table.constants.ts
  packages/webapp-libs/webapp-core/src/components/table/tableFooter/__tests__/tableFooter.component.spec.tsx
  packages/webapp-libs/webapp-core/src/components/table/tableFooter/tableFooter.component.tsx
  packages/webapp-libs/webapp-crud-demo/src/routes/crudDemoItem/crudDemoItemList/crudDemoItemList.component.tsx
  packages/webapp/plop/crud/templates/components/itemList/itemList.component.hbs
Due: eslint --fix

feat: #658 Add data table
  packages/webapp-libs/webapp-core/package.json
  packages/webapp-libs/webapp-core/src/components/table/dataTable/dataTable.component.tsx
  packages/webapp-libs/webapp-core/src/components/table/dataTable/index.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

PR comments
  packages/webapp-libs/webapp-api-client/src/graphql/__generated/gql/gql.ts
  packages/webapp-libs/webapp-api-client/src/graphql/__generated/gql/graphql.ts
  packages/webapp-libs/webapp-api-client/src/graphql/common.graphql.ts
  packages/webapp-libs/webapp-api-client/src/graphql/index.ts
  packages/webapp-libs/webapp-api-client/src/hooks/usePagedPaginatedQuery/__tests__/usePagedPaginatedQuery.hook.spec.tsx
  packages/webapp-libs/webapp-crud-demo/src/routes/crudDemoItem/crudDemoItemList/crudDemoItemList.component.tsx
  packages/webapp/plop/crud/templates/components/itemList/itemList.component.hbs
Due: eslint --fix

Add django-filters, add creation dates do demo item and filtering to demo item
  packages/backend/apps/demo/filters.py
  packages/backend/apps/demo/models.py
  packages/backend/apps/demo/schema.py
  packages/backend/apps/demo/tests/test_schema.py
  packages/backend/config/settings.py
  packages/backend/pdm.lock
  packages/backend/pyproject.toml
Due: none

add missing migration
  packages/backend/apps/demo/migrations/0004_cruddemoitem_created_at_cruddemoitem_updated_at.py
Due: none

feat: #656 Improve pagination and add example to CRUD demo items (#660)
  packages/backend/apps/demo/schema.py
  packages/backend/apps/demo/tests/test_schema.py
  packages/backend/common/graphql/pagination/fields.py
  packages/backend/common/graphql/pagination/helpers.py
  packages/backend/common/graphql/pagination/pagination.py
  packages/webapp-libs/webapp-api-client/graphql/schema/api.graphql
  packages/webapp-libs/webapp-api-client/src/graphql/__generated/gql/gql.ts
  packages/webapp-libs/webapp-api-client/src/graphql/__generated/gql/graphql.ts
  packages/webapp-libs/webapp-api-client/src/graphql/common.graphql.ts
  packages/webapp-libs/webapp-api-client/src/graphql/index.ts
  packages/webapp-libs/webapp-api-client/src/hooks/usePagedPaginatedQuery/__tests__/usePagedPaginatedQuery.graphql.ts
  packages/webapp-libs/webapp-api-client/src/hooks/usePagedPaginatedQuery/__tests__/usePagedPaginatedQuery.hook.spec.tsx
  packages/webapp-libs/webapp-api-client/src/hooks/usePagedPaginatedQuery/index.ts
  packages/webapp-libs/webapp-api-client/src/hooks/usePagedPaginatedQuery/usePagedPaginatedQuery.hook.ts
  packages/webapp-libs/webapp-api-client/src/tests/factories/pagination.ts
  packages/webapp-libs/webapp-api-client/src/tests/utils/fixtures.ts
  packages/webapp-libs/webapp-core/src/components/pagedPagination/__tests__/pagedPagination.component.spec.tsx
  packages/webapp-libs/webapp-core/src/components/pagedPagination/index.ts
  packages/webapp-libs/webapp-core/src/components/pagedPagination/pagedPagination.component.tsx
  packages/webapp-libs/webapp-core/src/components/pagedPagination/pagedPagination.stories.tsx
  packages/webapp-libs/webapp-core/src/components/table/index.ts
  packages/webapp-libs/webapp-core/src/components/table/table.constants.ts
  packages/webapp-libs/webapp-core/src/components/table/tableFooter/__tests__/tableFooter.component.spec.tsx
  packages/webapp-libs/webapp-core/src/components/table/tableFooter/index.ts
  packages/webapp-libs/webapp-core/src/components/table/tableFooter/tableFooter.component.tsx
  packages/webapp-libs/webapp-core/src/components/table/tableFooter/tableFooter.stories.tsx
  packages/webapp-libs/webapp-crud-demo/src/routes/crudDemoItem/addCrudDemoItem/__tests__/addCrudDemoItem.component.spec.tsx
  packages/webapp-libs/webapp-crud-demo/src/routes/crudDemoItem/addCrudDemoItem/addCrudDemoItem.component.tsx
  packages/webapp-libs/webapp-crud-demo/src/routes/crudDemoItem/crudDemoItemList/__tests__/crudDemoItemList.component.spec.tsx
  packages/webapp-libs/webapp-crud-demo/src/routes/crudDemoItem/crudDemoItemList/crudDemoItemList.component.tsx
  packages/webapp/plop/crud/templates/components/addItem/addItem.component.hbs
  packages/webapp/plop/crud/templates/components/itemList/itemList.component.hbs
  pnpm-lock.yaml
Due: eslint --fix

Add crud table
  packages/webapp-libs/webapp-api-client/src/graphql/__generated/gql/gql.ts
  packages/webapp-libs/webapp-api-client/src/graphql/__generated/gql/graphql.ts
  packages/webapp-libs/webapp-core/src/components/confirmDialog/confirmDialog.component.tsx
  packages/webapp-libs/webapp-core/src/components/table/dataTable/dataTable.component.tsx
  packages/webapp-libs/webapp-core/src/components/table/dataTable/dataTableColumnHeader.component.tsx
  packages/webapp-libs/webapp-core/src/components/table/dataTable/index.ts
  packages/webapp-libs/webapp-crud-demo/src/routes/crudDemoItem/crudDemoItemList/columns.tsx
  packages/webapp-libs/webapp-crud-demo/src/routes/crudDemoItem/crudDemoItemList/crudDemoItemList.component.tsx
  packages/webapp-libs/webapp-crud-demo/src/routes/crudDemoItem/crudDemoItemList/crudDemoItemList.graphql.ts
  packages/webapp-libs/webapp-crud-demo/src/routes/crudDemoItem/crudDemoItemList/crudDemoItemListItem/__tests__/crudDemoItemListItem.component.spec.tsx
  packages/webapp-libs/webapp-crud-demo/src/routes/crudDemoItem/crudDemoItemList/crudDemoItemListItem/crudDemoItemListItem.component.tsx
  packages/webapp-libs/webapp-crud-demo/src/routes/crudDemoItem/crudDemoItemList/crudDemoItemListItem/crudDemoItemListItem.stories.tsx
  packages/webapp-libs/webapp-crud-demo/src/routes/crudDemoItem/crudDemoItemList/crudDemoItemListItem/crudDropdownMenu/crudDropdownMenu.component.tsx
  packages/webapp-libs/webapp-crud-demo/src/routes/crudDemoItem/crudDemoItemList/crudDemoItemListItem/crudDropdownMenu/index.ts
  packages/webapp-libs/webapp-crud-demo/src/routes/crudDemoItem/crudDemoItemList/crudDemoItemListItem/index.tsx
  packages/webapp-libs/webapp-crud-demo/src/routes/crudDemoItem/crudDemoItemList/crudDemoItemListRowActions/__tests__/crudDemoItemListRowActions.component.spec.tsx
  packages/webapp-libs/webapp-crud-demo/src/routes/crudDemoItem/crudDemoItemList/crudDemoItemListRowActions/crudDemoItemListRowActions.component.tsx
  packages/webapp-libs/webapp-crud-demo/src/routes/crudDemoItem/crudDemoItemList/crudDemoItemListRowActions/crudDemoItemListRowActions.graphql.ts
  packages/webapp-libs/webapp-crud-demo/src/routes/crudDemoItem/crudDemoItemList/crudDemoItemListRowActions/crudDemoItemListRowActions.stories.tsx
  packages/webapp-libs/webapp-crud-demo/src/routes/crudDemoItem/crudDemoItemList/crudDemoItemListRowActions/index.ts
  pnpm-lock.yaml
Due: eslint --fix

Fix tests
  packages/webapp-libs/webapp-crud-demo/src/routes/crudDemoItem/crudDemoItemList/__tests__/crudDemoItemList.component.spec.tsx
  packages/webapp-libs/webapp-crud-demo/src/routes/crudDemoItem/crudDemoItemList/crudDemoItemListRowActions/__tests__/crudDemoItemListRowActions.component.spec.tsx
  packages/webapp-libs/webapp-crud-demo/src/routes/crudDemoItem/crudDemoItemList/crudDemoItemListRowActions/crudDemoItemListRowActions.component.tsx
  packages/webapp-libs/webapp-crud-demo/src/routes/crudDemoItem/crudDemoItemList/crudDemoItemListRowActions/crudDemoItemListRowActions.stories.tsx
Due: eslint --fix

Add search to crud table
  packages/backend/apps/demo/schema.py
  packages/webapp-libs/webapp-api-client/graphql/schema/api.graphql
  packages/webapp-libs/webapp-api-client/src/graphql/__generated/gql/gql.ts
  packages/webapp-libs/webapp-api-client/src/graphql/__generated/gql/graphql.ts
  packages/webapp-libs/webapp-core/package.json
  packages/webapp-libs/webapp-core/src/components/table/dataTable/index.ts
  packages/webapp-libs/webapp-core/src/components/table/index.ts
  packages/webapp-libs/webapp-core/src/components/table/table.types.ts
  packages/webapp-libs/webapp-core/src/components/table/tableToolbar/index.ts
  packages/webapp-libs/webapp-core/src/components/table/tableToolbar/tableToolbar.component.tsx
  packages/webapp-libs/webapp-core/src/components/table/tableToolbar/tableToolbar.types.ts
  packages/webapp-libs/webapp-core/src/components/table/tableToolbarFacetedFilter/index.ts
  packages/webapp-libs/webapp-core/src/components/table/tableToolbarFacetedFilter/tableToolbarFacetedFilter.component.tsx
  packages/webapp-libs/webapp-core/src/components/ui/badge.tsx
  packages/webapp-libs/webapp-core/src/components/ui/command.tsx
  packages/webapp-libs/webapp-core/src/components/ui/switch.tsx
  packages/webapp-libs/webapp-crud-demo/src/routes/crudDemoItem/addCrudDemoItem/addCrudDemoItem.component.tsx
  packages/webapp-libs/webapp-crud-demo/src/routes/crudDemoItem/crudDemoItemList/columns.tsx
  packages/webapp-libs/webapp-crud-demo/src/routes/crudDemoItem/crudDemoItemList/crudDemoItemList.component.tsx
  packages/webapp-libs/webapp-crud-demo/src/routes/crudDemoItem/crudDemoItemList/crudDemoItemList.graphql.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Add example of sorting to the table
  packages/backend/apps/demo/schema.py
  packages/webapp-libs/webapp-api-client/graphql/schema/api.graphql
  packages/webapp-libs/webapp-api-client/src/graphql/__generated/gql/gql.ts
  packages/webapp-libs/webapp-api-client/src/graphql/__generated/gql/graphql.ts
  packages/webapp-libs/webapp-core/src/components/table/dataTable/dataTable.component.tsx
  packages/webapp-libs/webapp-core/src/components/table/index.ts
  packages/webapp-libs/webapp-core/src/components/table/table.types.ts
  packages/webapp-libs/webapp-crud-demo/src/routes/crudDemoItem/crudDemoItemList/columns.tsx
  packages/webapp-libs/webapp-crud-demo/src/routes/crudDemoItem/crudDemoItemList/crudDemoItemList.component.tsx
  packages/webapp-libs/webapp-crud-demo/src/routes/crudDemoItem/crudDemoItemList/crudDemoItemList.graphql.ts
Due: eslint --fix

fix: Mute InvalidToken error in Sentry
  packages/backend/config/monitoring.py
Due: none

Add backend tests
  packages/backend/apps/demo/tests/test_schema.py
Due: none

Add tests for table components
  packages/webapp-libs/webapp-core/src/components/table/dataTable/__tests__/dataTable.component.spec.tsx
  packages/webapp-libs/webapp-core/src/components/table/dataTable/dataTable.component.tsx
  packages/webapp-libs/webapp-core/src/components/table/table.types.ts
  packages/webapp-libs/webapp-core/src/components/table/tableToolbar/__tests__/tableToolbar.component.spec.tsx
  packages/webapp-libs/webapp-core/src/components/table/tableToolbar/tableToolbar.component.tsx
  packages/webapp-libs/webapp-core/src/components/table/tableToolbarFacetedFilter/__tests__/tableToolbarFacetedFilter.component.spec.tsx
  packages/webapp-libs/webapp-core/src/components/table/tableToolbarFacetedFilter/tableToolbarFacetedFilter.component.tsx
  packages/webapp-libs/webapp-crud-demo/src/routes/crudDemoItem/crudDemoItemList/__tests__/crudDemoItemList.component.spec.tsx
  packages/webapp-libs/webapp-crud-demo/src/routes/crudDemoItem/crudDemoItemList/crudDemoItemList.component.tsx
  packages/webapp-libs/webapp-crud-demo/src/tests/factories/crudDemoItem.ts
Due: eslint --fix

Add stories
  packages/webapp-libs/webapp-core/src/components/table/dataTable/dataTable.stories.tsx
  packages/webapp-libs/webapp-core/src/components/table/tableToolbar/tableToolbar.stories.tsx
  packages/webapp-libs/webapp-core/src/components/table/tableToolbarFacetedFilter/tableToolbarFacetedFilter.stories.tsx
  packages/webapp-libs/webapp-crud-demo/src/routes/crudDemoItem/crudDemoItemList/crudDemoItemList.component.tsx
  packages/webapp-libs/webapp-crud-demo/src/routes/crudDemoItem/crudDemoItemList/crudDemoItemList.stories.tsx
  packages/webapp-libs/webapp-crud-demo/src/routes/crudDemoItem/crudDemoItemList/crudDemoItemListRowActions/crudDemoItemListRowActions.stories.tsx
  pnpm-lock.yaml
Due: eslint --fix

Fix packages
  packages/webapp-libs/webapp-crud-demo/src/routes/crudDemoItem/addCrudDemoItem/__tests__/addCrudDemoItem.component.spec.tsx
  packages/webapp-libs/webapp-crud-demo/src/routes/crudDemoItem/crudDemoItemList/crudDemoItemListRowActions/crudDemoItemListRowActions.stories.tsx
  pnpm-lock.yaml
Due: eslint --fix

Fix lint in the core
  packages/webapp-libs/webapp-core/src/components/table/tableToolbar/tableToolbar.component.tsx
  packages/webapp-libs/webapp-core/src/components/table/tableToolbarFacetedFilter/tableToolbarFacetedFilter.component.tsx
  packages/webapp-libs/webapp-core/src/components/table/tableToolbarFacetedFilter/tableToolbarFacetedFilter.stories.tsx
Due: eslint --fix

Fix memory problems of docs
  packages/internal/docs/package.json
Due: prettier --write

Remove react router warning from tests
  packages/webapp-libs/webapp-core/src/tests/utils/rendering.tsx
Due: eslint --fix

Remove missing mock handler for api call
  packages/webapp-libs/webapp-api-client/src/tests/mocks/server/handlers/graphql.ts
Due: eslint --fix

Remove input error from the sign up from
  packages/webapp/src/shared/components/auth/signupForm/signupForm.component.tsx
Due: eslint --fix

Remove warning from the react router
  packages/webapp/src/app/providers/router.tsx
Due: eslint --fix

Remove notifications error from tests
  packages/webapp-libs/webapp-notifications/src/notifications.component.tsx
Due: eslint --fix

Clear errors and warnings in notifications and tenant tests
  packages/webapp-libs/webapp-core/src/tests/setupTests.ts
  packages/webapp-libs/webapp-notifications/src/__tests__/notifications.component.spec.tsx
  packages/webapp-libs/webapp-notifications/src/notificationsList/__tests__/notificationsList.component.spec.tsx
  packages/webapp-libs/webapp-tenants/src/components/tenantForm/tenantForm.hook.ts
  packages/webapp-libs/webapp-tenants/src/components/tenantInvitationForm/tenantInvitationForm.hook.ts
  packages/webapp-libs/webapp-tenants/src/components/tenantMembersList/__tests__/tenantMembersList.component.spec.tsx
  packages/webapp-libs/webapp-tenants/src/components/tenantMembersList/membershipEntry/__tests__/membershipEntry.component.spec.tsx
  packages/webapp-libs/webapp-tenants/src/hooks/useCurrentTenantMembership/__tests__/useCurrentTenantMembership.hook.spec.tsx
  packages/webapp-libs/webapp-tenants/src/routes/tenantSettings/tenantGeneralSettings/__tests__/tenantGeneralSettings.component.spec.tsx
  packages/webapp-libs/webapp-tenants/src/routes/tenantSettings/tenantMembers/__tests__/tenantMembers.component.spec.tsx
  packages/webapp-libs/webapp-tenants/src/tests/factories/tenant.ts
  packages/webapp/src/shared/components/auth/avatarForm/__tests__/avatarForm.component.spec.tsx
  packages/webapp/src/shared/components/roleAccess/__tests__/roleAccess.component.spec.tsx
Due: eslint --fix

Clear warnings in crud demo item tests
  packages/webapp-libs/webapp-api-client/src/tests/utils/fixtures.ts
  packages/webapp-libs/webapp-crud-demo/src/routes/crudDemoItem/addCrudDemoItem/__tests__/addCrudDemoItem.component.spec.tsx
  packages/webapp-libs/webapp-crud-demo/src/routes/crudDemoItem/crudDemoItemForm/crudDemoItemForm.hook.ts
  packages/webapp-libs/webapp-crud-demo/src/routes/crudDemoItem/crudDemoItemList/__tests__/crudDemoItemList.component.spec.tsx
  packages/webapp-libs/webapp-crud-demo/src/routes/crudDemoItem/crudDemoItemList/crudDemoItemListItem/__tests__/crudDemoItemListItem.component.spec.tsx
  packages/webapp-libs/webapp-crud-demo/src/routes/crudDemoItem/crudDemoItemList/crudDemoItemListItem/crudDropdownMenu/crudDropdownMenu.component.tsx
  packages/webapp-libs/webapp-crud-demo/src/routes/crudDemoItem/editCrudDemoItem/__tests__/editCrudDemoItem.component.spec.tsx
Due: eslint --fix

Clear test warnings in api and core packages
  packages/webapp-libs/webapp-api-client/src/hooks/useApiForm/__tests__/useApiForm.hook.spec.tsx
  packages/webapp-libs/webapp-api-client/src/hooks/usePagedPaginatedQuery/__tests__/usePagedPaginatedQuery.hook.spec.tsx
  packages/webapp-libs/webapp-core/src/components/forms/dropzone/__tests__/dropzone.component.spec.tsx
  packages/webapp-libs/webapp-core/src/components/ui/__tests__/separator.component.spec.tsx
  packages/webapp/src/shared/components/roleAccess/__tests__/roleAccess.component.spec.tsx
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: any of: *.{json,md,html}
