Repository apptension/saas-boilerplate: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx}": "eslint --fix",
  "*.{json,md,html}": "prettier --write"
}

Clear test warnings in finances, documents, contentful and emails packages
  packages/webapp-libs/webapp-contentful/src/hooks/useFavoriteDemoItem/__tests__/useFavoriteDemoItem.hook.spec.tsx
  packages/webapp-libs/webapp-contentful/src/routes/demoItems/__tests__/demoItems.component.spec.tsx
  packages/webapp-libs/webapp-contentful/src/routes/demoItems/demoItemListItem/__tests__/demoItemListItem.component.spec.tsx
  packages/webapp-libs/webapp-documents/src/routes/documents/__tests__/documents.component.spec.tsx
  packages/webapp-libs/webapp-emails/src/base/button/button.component.tsx
  packages/webapp-libs/webapp-emails/src/base/image/image.component.tsx
  packages/webapp-libs/webapp-emails/src/base/layout/layout.component.tsx
  packages/webapp-libs/webapp-finances/src/routes/cancelSubscription/__tests__/cancelSubscription.component.spec.tsx
  packages/webapp-libs/webapp-finances/src/routes/cancelSubscription/cancelSubscription.component.tsx
  packages/webapp-libs/webapp-finances/src/routes/editPaymentMethod/editPaymentMethodForm/__tests__/editPaymentMethodForm.component.spec.tsx
  packages/webapp-libs/webapp-finances/src/routes/editSubscription/__tests__/editSubscription.component.spec.tsx
Due: eslint --fix

Changes according to sonar cube
  packages/webapp-libs/webapp-crud-demo/src/routes/crudDemoItem/crudDemoItemForm/crudDemoItemForm.hook.ts
  packages/webapp-libs/webapp-notifications/src/notification/__tests__/notification.component.spec.tsx
  packages/webapp-libs/webapp-notifications/src/notification/notification.component.tsx
  packages/webapp-libs/webapp-tenants/src/components/tenantForm/tenantForm.hook.ts
  packages/webapp-libs/webapp-tenants/src/components/tenantInvitationForm/tenantInvitationForm.hook.ts
Due: eslint --fix

fix: Mute InvalidToken error in Sentry (#667)
  packages/backend/config/monitoring.py
Due: none

Adds aws load balancer controller for terraform/k8s and adds example ngins services
  packages/infra/aws/main.tf
  packages/infra/aws/modules/eks/load-balancer-controller.tf
  packages/infra/aws/modules/eks/main.tf
  packages/infra/aws/modules/eks/providers.tf
  packages/infra/aws/modules/eks/variables.tf
  packages/infra/aws/modules/vpc/main.tf
  packages/infra/kubernetes/example/nginx-ingress.yaml
  packages/infra/kubernetes/example/nginx-second.yaml
  packages/infra/kubernetes/example/nginx.yaml
Due: none

Creates ECR repositories, organize terraform files, creates qa and production initial structure with resources
  packages/infra/aws/environments/prod/main.tf
  packages/infra/aws/environments/qa/main.tf
  packages/infra/aws/environments/variables.tf
  packages/infra/aws/image_repositories.tf
  packages/infra/aws/kubernetes.tf
  packages/infra/aws/main.tf
  packages/infra/aws/modules/ecr/main.tf
  packages/infra/aws/modules/ecr/outputs.tf
  packages/infra/aws/modules/ecr/variables.tf
  packages/infra/aws/modules/eks/helm.tf
  packages/infra/aws/modules/eks/iam.tf
  packages/infra/aws/modules/eks/main.tf
  packages/infra/aws/modules/eks/oidc.tf
  packages/infra/aws/modules/kms/main.tf
  packages/infra/aws/modules/kms/outputs.tf
  packages/infra/aws/modules/kms/variables.tf
  packages/infra/aws/modules/rds/main.tf
  packages/infra/aws/modules/rds/outputs.tf
  packages/infra/aws/modules/rds/variables.tf
  packages/infra/aws/modules/vpc/endpoints.tf
  packages/infra/aws/modules/vpc/main.tf
  packages/infra/aws/modules/vpc/outputs.tf
  packages/infra/aws/network.tf
  packages/infra/aws/outputs.tf
Due: none

Adds boostrap terraform module and initialize process to save state in aws
  packages/infra/aws/bootstrap/boostrap.sh
  packages/infra/aws/bootstrap/main.tf
  packages/infra/aws/bootstrap/outputs.tf
  packages/infra/aws/bootstrap/providers.tf
  packages/infra/aws/bootstrap/variables.tf
  packages/infra/aws/global/application.tf
  packages/infra/aws/global/image_repositories.tf
  packages/infra/aws/global/kubernetes.tf
  packages/infra/aws/global/main.tf
  packages/infra/aws/global/main.tf.template
  packages/infra/aws/global/network.tf
  packages/infra/aws/global/outputs.tf
  packages/infra/aws/global/providers.tf
  packages/infra/aws/global/variables.tf
  packages/infra/aws/main.tf
Due: none

Removes global/main.tf bacause of bootrap process
  packages/infra/aws/global/main.tf
Due: none

Adds qa/prod main template files to configure terraform backed for each environment
  packages/infra/aws/bootstrap/boostrap.sh
  packages/infra/aws/bootstrap/bootstrap.sh
  packages/infra/aws/bootstrap/main.tf
  packages/infra/aws/environments/prod/main.tf.template
  packages/infra/aws/environments/prod/providers.tf
  packages/infra/aws/environments/qa/main.tf
  packages/infra/aws/environments/qa/main.tf.template
  packages/infra/aws/environments/qa/providers.tf
  packages/infra/aws/global/main.tf
  packages/infra/aws/global/variables.tf
Due: none

Adds load balancer and change terrafor structure
  packages/infra/aws/environments/environment/main.tf
  packages/infra/aws/environments/environment/variables.tf
  packages/infra/aws/environments/prod/locals.tf
  packages/infra/aws/environments/prod/main.tf
  packages/infra/aws/environments/prod/main.tf.template
  packages/infra/aws/environments/prod/variables.tf
  packages/infra/aws/environments/qa/locals.tf
  packages/infra/aws/environments/qa/main.tf
  packages/infra/aws/environments/qa/main.tf.template
  packages/infra/aws/environments/qa/variables.tf
  packages/infra/aws/global/argocd.tf
  packages/infra/aws/global/cert_manager.tf
  packages/infra/aws/global/kubernetes.tf
  packages/infra/aws/global/manifests/argocd.yaml
  packages/infra/aws/global/manifests/load_balancer.yaml
  packages/infra/aws/main.tf
  packages/infra/aws/modules/eks/external_dns.tf
  packages/infra/aws/modules/eks/helm.tf
  packages/infra/aws/modules/eks/hosted_zone.tf
  packages/infra/aws/modules/eks/load_balancer_controller.tf
  packages/infra/aws/modules/eks/main.tf
  packages/infra/aws/modules/eks/outputs.tf
  packages/infra/aws/modules/eks/variables.tf
  packages/infra/aws/modules/kms/main.tf
  packages/infra/aws/modules/kms/variables.tf
  packages/infra/aws/modules/rds/main.tf
  packages/infra/kubernetes/example/nginx-ingress.yaml
  packages/infra/kubernetes/example/nginx-second.yaml
Due: none

Cleanup - removes example nginx application
  packages/infra/aws/global/cert_manager.tf
  packages/infra/aws/global/kubernetes.tf
  packages/infra/aws/global/manifests/argocd.yaml
  packages/infra/aws/global/manifests/load_balancer.yaml
  packages/infra/aws/main.tf
  packages/infra/aws/modules/eks/certificates.tf
  packages/infra/kubernetes/argocd/load_balancer.yaml
  packages/infra/kubernetes/example/nginx.yaml
Due: none

Adds another nginx ingress to internal routing requests to kubernetes services
  packages/infra/aws/modules/eks/internal_ingress.tf
  packages/infra/aws/modules/eks/load_balancer_controller.tf
  packages/infra/kubernetes/argocd/ingresses.yaml
  packages/infra/kubernetes/argocd/load_balancer.yaml
  packages/infra/kubernetes/nginx-ingress/aws/albs.yaml
  packages/infra/kubernetes/nginx-ingress/services.yaml
Due: none

Adds a readme file to summarise the work
  packages/infra/README.md
Due: prettier --write

fix(emails): #679 Initialize data for correct jsonification
  packages/backend/apps/finances/tests/test_webhooks.py
  packages/backend/common/emails.py
Due: none

refactor: Update authentication components to use new UI library and improve layout
  packages/webapp-libs/webapp-core/src/components/ui/input.tsx
  packages/webapp-libs/webapp-core/src/components/ui/label.tsx
  packages/webapp/src/routes/auth/login/login.component.tsx
  packages/webapp/src/routes/auth/passwordReset/passwordResetConfirm/passwordResetConfirm.component.tsx
  packages/webapp/src/routes/auth/passwordReset/passwordResetConfirm/passwordResetConfirm.stories.tsx
  packages/webapp/src/routes/auth/passwordReset/passwordResetRequest/passwordResetRequest.component.tsx
  packages/webapp/src/routes/auth/passwordReset/passwordResetRequest/passwordResetRequest.stories.tsx
  packages/webapp/src/routes/auth/signup/signup.component.tsx
  packages/webapp/src/routes/auth/signup/signup.stories.tsx
  packages/webapp/src/routes/auth/validateOtp/validateOtp.stories.tsx
  packages/webapp/src/shared/components/auth/loginForm/__tests__/loginForm.component.spec.tsx
  packages/webapp/src/shared/components/auth/loginForm/loginForm.component.tsx
  packages/webapp/src/shared/components/auth/loginForm/loginForm.hooks.ts
  packages/webapp/src/shared/components/auth/loginForm/loginForm.stories.tsx
  packages/webapp/src/shared/components/auth/passwordResetConfirmForm/__tests__/passwordResetConfirmForm.component.spec.tsx
  packages/webapp/src/shared/components/auth/passwordResetConfirmForm/passwordResetConfirmForm.component.tsx
  packages/webapp/src/shared/components/auth/passwordResetConfirmForm/passwordResetConfirmForm.stories.tsx
  packages/webapp/src/shared/components/auth/passwordResetRequestForm/__tests__/passwordResetRequestForm.component.spec.tsx
  packages/webapp/src/shared/components/auth/passwordResetRequestForm/passwordResetRequestForm.component.tsx
  packages/webapp/src/shared/components/auth/passwordResetRequestForm/passwordResetRequestForm.stories.tsx
  packages/webapp/src/shared/components/auth/signupForm/__tests__/signupForm.component.spec.tsx
  packages/webapp/src/shared/components/auth/signupForm/signupForm.component.tsx
  packages/webapp/src/shared/components/auth/signupForm/signupForm.stories.tsx
  packages/webapp/src/shared/components/auth/validateOtpForm/__tests__/validateOtpForm.component.spec.tsx
  packages/webapp/src/shared/components/auth/validateOtpForm/validateOtpForm.component.tsx
  packages/webapp/src/shared/components/auth/validateOtpForm/validateOtpForm.stories.tsx
Due: eslint --fix

style: Update color variables and enhance authentication component layout
  packages/webapp-libs/webapp-core/src/theme/color.ts
  packages/webapp/src/images/icons/index.ts
  packages/webapp/src/images/icons/logo.png
  packages/webapp/src/images/icons/logo.svg
  packages/webapp/src/routes/auth/login/login.component.tsx
  packages/webapp/src/routes/auth/passwordReset/passwordResetConfirm/passwordResetConfirm.component.tsx
  packages/webapp/src/routes/auth/passwordReset/passwordResetRequest/passwordResetRequest.component.tsx
  packages/webapp/src/routes/auth/signup/signup.component.tsx
  packages/webapp/src/shared/components/auth/authLogo/authLogo.component.tsx
  packages/webapp/src/shared/components/auth/authLogo/index.ts
  packages/webapp/src/shared/components/auth/floatingThemeToggle/floatingThemeToggle.component.tsx
  packages/webapp/src/shared/components/auth/floatingThemeToggle/index.ts
  packages/webapp/src/shared/components/auth/validateOtpForm/validateOtpForm.component.tsx
  packages/webapp/src/shared/components/layout/layout.component.tsx
  packages/webapp/src/styles.css
Due: eslint --fix

style: Refine authentication components for improved layout and accessibility
  packages/webapp-libs/webapp-core/src/components/forms/form/formLabel/formLabel.component.tsx
  packages/webapp/src/shared/components/auth/signupForm/signupForm.component.tsx
  packages/webapp/src/shared/components/auth/socialLoginButtons/socialLoginButtons.component.tsx
Due: eslint --fix

docs: Enhance admin panel documentation with access details and security notes
  packages/internal/docs/docs/introduction/features/admin.mdx
  packages/webapp-libs/webapp-tenants/src/components/tenantSwitch/tenantSwitch.component.tsx
Due: eslint --fix

feat: Implement sidebar collapse functionality and enhance layout components
  packages/webapp-libs/webapp-notifications/src/notification/notification.component.tsx
  packages/webapp-libs/webapp-notifications/src/notifications.component.tsx
  packages/webapp-libs/webapp-notifications/src/notificationsButton/notificationsButton.component.tsx
  packages/webapp-libs/webapp-notifications/src/notificationsList/notificationsList.component.tsx
  packages/webapp-libs/webapp-tenants/src/components/tenantSwitch/index.ts
  packages/webapp-libs/webapp-tenants/src/components/tenantSwitch/tenantSwitchSidebar.component.tsx
  packages/webapp/src/shared/components/layout/header/header.component.tsx
  packages/webapp/src/shared/components/layout/header/userMenu/index.ts
  packages/webapp/src/shared/components/layout/header/userMenu/userMenu.component.tsx
  packages/webapp/src/shared/components/layout/layout.component.tsx
  packages/webapp/src/shared/components/layout/layout.context.ts
  packages/webapp/src/shared/components/layout/sidebar/sidebar.component.tsx
Due: eslint --fix

chore: update pnpm and enforce its and node versions
  .github/workflows/actions/setup/action.yml
  .npmrc
  .nvmrc
  bitbucket-pipelines.yml
  package.json
  packages/infra/infra-core/src/lib/patterns/serviceCiConfig.ts
  packages/workers/Dockerfile
Due: eslint --fix, prettier --write

chore: update aws-cdk lib
  .vscode/settings.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: update readme and docs
  README.md
  packages/internal/docs/docs/getting-started/run-project/_requirements.mdx
  packages/internal/docs/docs/getting-started/run-project/run-new-project.mdx
Due: prettier --write

fix: issue with repearing change in generated files
  .prettierignore
  packages/webapp-libs/webapp-api-client/graphql/codegen.ts
Due: eslint --fix

fix: broken and invisible users without is_accepted flag, timestamp handling, add tests
  packages/backend/apps/multitenancy/admin.py
  packages/backend/apps/multitenancy/models.py
  packages/backend/apps/multitenancy/schema.py
  packages/backend/apps/multitenancy/serializers.py
  packages/backend/apps/multitenancy/tests/fixtures.py
  packages/backend/apps/multitenancy/tests/test_admin.py
  packages/backend/apps/multitenancy/tests/test_models.py
  packages/backend/apps/multitenancy/tests/test_serializers.py
Due: none

chore: bump rds version
  packages/infra/infra-shared/src/stacks/db/mainDatabase.ts
Due: eslint --fix

refactor: Update layout components and enhance sidebar functionality
  packages/webapp-libs/webapp-notifications/src/notification/notification.component.tsx
  packages/webapp-libs/webapp-notifications/src/notification/notification.hooks.ts
  packages/webapp-libs/webapp-notifications/src/notifications.component.tsx
  packages/webapp-libs/webapp-notifications/src/notificationsButton/notificationsButton.component.tsx
  packages/webapp-libs/webapp-notifications/src/notificationsList/notificationsList.component.tsx
  packages/webapp-libs/webapp-tenants/src/components/tenantSwitch/tenantSwitchSidebar.component.tsx
  packages/webapp/src/shared/components/layout/__tests__/layout.component.spec.tsx
  packages/webapp/src/shared/components/layout/header/__tests__/header.component.spec.tsx
  packages/webapp/src/shared/components/layout/header/header.stories.tsx
  packages/webapp/src/shared/components/layout/sidebar/__tests__/sidebar.component.spec.tsx
  packages/webapp/src/shared/components/layout/sidebar/sidebar.component.tsx
  packages/webapp/src/shared/components/layout/sidebar/sidebar.stories.tsx
Due: eslint --fix

refactor: Enhance layout and structure of home and profile components
  packages/webapp-libs/webapp-core/src/components/forms/input/input.component.tsx
  packages/webapp-libs/webapp-core/src/components/pageLayout/__tests__/pageLayout.component.spec.tsx
  packages/webapp-libs/webapp-core/src/components/pageLayout/pageLayout.component.tsx
  packages/webapp-libs/webapp-tenants/src/components/tenantDangerZone/tenantDangerZone.component.tsx
  packages/webapp-libs/webapp-tenants/src/components/tenantForm/tenantForm.component.tsx
  packages/webapp-libs/webapp-tenants/src/components/tenantInvitationForm/tenantInvitationForm.component.tsx
  packages/webapp-libs/webapp-tenants/src/components/tenantMembersList/membershipEntry/membershipEntry.component.tsx
  packages/webapp-libs/webapp-tenants/src/components/tenantMembersList/tenantMembersList.component.tsx
  packages/webapp-libs/webapp-tenants/src/routes/tenantSettings/tenantGeneralSettings/tenantGeneralSettings.component.tsx
  packages/webapp-libs/webapp-tenants/src/routes/tenantSettings/tenantMembers/tenantMembers.component.tsx
  packages/webapp-libs/webapp-tenants/src/routes/tenantSettings/tenantSettings.component.tsx
  packages/webapp/src/routes/home/home.component.tsx
  packages/webapp/src/routes/profile/profile.component.tsx
  packages/webapp/src/shared/components/auth/addTwoFactorAuth/addTwoFactorAuth.component.tsx
  packages/webapp/src/shared/components/auth/changePasswordForm/changePasswordForm.component.tsx
  packages/webapp/src/shared/components/auth/editProfileForm/editProfileForm.component.tsx
Due: eslint --fix

test: Enhance Home and Profile component tests for improved coverage
  packages/webapp-libs/webapp-tenants/src/components/tenantMembersList/membershipEntry/membershipEntry.component.tsx
  packages/webapp/src/routes/home/__tests__/home.component.spec.tsx
  packages/webapp/src/routes/profile/__tests__/profile.component.spec.tsx
Due: eslint --fix

refactor: Enhance UI components and improve layout structure across finance routes
  packages/webapp-libs/webapp-finances/src/components/stripe/stripePaymentForm/stripePaymentForm.component.tsx
  packages/webapp-libs/webapp-finances/src/routes/cancelSubscription/cancelSubscription.component.tsx
  packages/webapp-libs/webapp-finances/src/routes/editPaymentMethod/editPaymentMethod.component.tsx
  packages/webapp-libs/webapp-finances/src/routes/editPaymentMethod/editPaymentMethodForm/editPaymentMethodForm.component.tsx
  packages/webapp-libs/webapp-finances/src/routes/editSubscription/editSubscription.component.tsx
  packages/webapp-libs/webapp-finances/src/routes/editSubscription/subscriptionPlanItem/subscriptionPlanItem.component.tsx
  packages/webapp-libs/webapp-finances/src/routes/editSubscription/subscriptionPlans/subscriptionPlans.component.tsx
  packages/webapp-libs/webapp-finances/src/routes/paymentConfirm/paymentConfirm.component.tsx
  packages/webapp-libs/webapp-finances/src/routes/subscriptions/currentSubscription.component.tsx
  packages/webapp-libs/webapp-finances/src/routes/subscriptions/paymentMethod.content.tsx
  packages/webapp-libs/webapp-finances/src/routes/subscriptions/subscriptions.content.tsx
  packages/webapp-libs/webapp-finances/src/routes/subscriptions/transactionsHistory.content.tsx
  packages/webapp-libs/webapp-finances/src/routes/transactionHistory/transactionHistory.component.tsx
  packages/webapp/src/routes/home/home.component.tsx
Due: eslint --fix

refactor: Update SaaS Ideas component with enhanced chat interface and new dependencies
  packages/webapp-libs/webapp-generative-ai/package.json
  packages/webapp-libs/webapp-generative-ai/src/routes/saasIdeas/saasIdeas.component.tsx
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

refactor: Update OpenAI integration and enhance SaaS Ideas generation
  packages/backend/apps/integrations/openai/client.py
  packages/backend/apps/integrations/openai/types.py
  packages/backend/apps/integrations/schema.py
  packages/backend/apps/integrations/tests/fixtures.py
  packages/backend/apps/integrations/tests/test_clients.py
  packages/backend/config/settings.py
  packages/backend/pdm.lock
  packages/backend/pyproject.toml
  packages/backend/scripts/runtime/install_localstack_fixtures.sh
  packages/webapp-libs/webapp-api-client/graphql/schema/api.graphql
  packages/webapp-libs/webapp-api-client/src/graphql/__generated/gql/gql.ts
  packages/webapp-libs/webapp-api-client/src/graphql/__generated/gql/graphql.ts
  packages/webapp-libs/webapp-crud-demo/src/routes/crudDemoItem/addCrudDemoItem/addCrudDemoItem.component.tsx
  packages/webapp-libs/webapp-crud-demo/src/routes/crudDemoItem/crudDemoItemDetails/crudDemoItemDetails.component.tsx
  packages/webapp-libs/webapp-crud-demo/src/routes/crudDemoItem/crudDemoItemForm/crudDemoItemForm.component.tsx
  packages/webapp-libs/webapp-crud-demo/src/routes/crudDemoItem/crudDemoItemList/crudDemoItemList.component.tsx
  packages/webapp-libs/webapp-crud-demo/src/routes/crudDemoItem/crudDemoItemList/crudDemoItemListItem/crudDemoItemListItem.component.tsx
  packages/webapp-libs/webapp-crud-demo/src/routes/crudDemoItem/editCrudDemoItem/editCrudDemoItem.component.tsx
  packages/webapp-libs/webapp-generative-ai/src/routes/saasIdeas/saasIdeas.component.tsx
  packages/webapp-libs/webapp-generative-ai/src/routes/saasIdeas/saasIdeas.graphql.ts
  packages/webapp/plop/crud/templates/components/addItem/addItem.component.hbs
  packages/webapp/plop/crud/templates/components/editItem/editItem.component.hbs
  packages/webapp/plop/crud/templates/components/itemDetails/itemDetails.component.hbs
  packages/webapp/plop/crud/templates/components/itemForm/itemForm.component.hbs
  packages/webapp/plop/crud/templates/components/itemList/itemList.component.hbs
  packages/workers/Dockerfile
Due: eslint --fix

refactor: Revamp Home component layout and enhance feature presentation
  packages/webapp/src/routes/home/home.component.tsx
Due: eslint --fix

feat: Add SidebarLogo component with signet badge for collapsed state
  .cursor/rules/components.mdc
  .cursor/rules/file-naming.mdc
  .cursor/rules/general.mdc
  .cursor/rules/i18n.mdc
  .cursor/rules/icons.mdc
  .cursor/rules/imports.mdc
  .cursor/rules/styling.mdc
  .cursor/rules/testing.mdc
  packages/webapp/src/images/icons/index.ts
  packages/webapp/src/images/icons/signet.svg
  packages/webapp/src/shared/components/layout/sidebar/sidebar.component.tsx
  packages/webapp/src/shared/components/layout/sidebar/sidebarLogo/index.ts
  packages/webapp/src/shared/components/layout/sidebar/sidebarLogo/sidebarLogo.component.tsx
Due: eslint --fix

chore: Upgrade Storybook to 8.6.14 and regenerate GraphQL types
  packages/webapp-libs/webapp-api-client/src/graphql/__generated/gql/fragment-masking.ts
  packages/webapp-libs/webapp-api-client/src/graphql/__generated/gql/gql.ts
  packages/webapp-libs/webapp-api-client/src/graphql/__generated/gql/graphql.ts
  packages/webapp-libs/webapp-api-client/src/graphql/__generated/gql/index.ts
  packages/webapp/package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat: Restore demo (CRUD example) app
  packages/backend/apps/demo/__init__.py
  packages/backend/apps/demo/admin.py
  packages/backend/apps/demo/apps.py
  packages/backend/apps/demo/constants.py
  packages/backend/apps/demo/migrations/0001_initial.py
  packages/backend/apps/demo/migrations/0002_initial.py
  packages/backend/apps/demo/migrations/0003_cruddemoitem_tenant.py
  packages/backend/apps/demo/migrations/__init__.py
  packages/backend/apps/demo/models.py
  packages/backend/apps/demo/notifications.py
  packages/backend/apps/demo/schema.py
  packages/backend/apps/demo/serializers.py
  packages/backend/apps/demo/signals.py
  packages/backend/apps/demo/tests/__init__.py
  packages/backend/apps/demo/tests/factories.py
  packages/backend/apps/demo/tests/fixtures.py
  packages/backend/apps/demo/tests/test_schema.py
  packages/backend/apps/demo/urls.py
  packages/backend/apps/users/services/export/services/export.py
  packages/backend/apps/users/services/export/services/user.py
  packages/backend/apps/users/tests/test_services.py
  packages/backend/common/tests/test_graphql/test_acl.py
  packages/backend/config/schema.py
  packages/backend/config/settings.py
  packages/backend/config/urls_api.py
  packages/backend/conftest.py
Due: none

fix: Update tests to match UI changes and add top Cursor AI rules
  .cursor/rules/top-rules.mdc
  packages/webapp-libs/webapp-crud-demo/src/routes/crudDemoItem/crudDemoItemDetails/__tests__/crudDemoItemDetails.component.spec.tsx
  packages/webapp-libs/webapp-finances/src/routes/cancelSubscription/__tests__/cancelSubscription.component.spec.tsx
  packages/webapp-libs/webapp-generative-ai/src/routes/saasIdeas/__tests__/saasIdeas.component.spec.tsx
  packages/webapp-libs/webapp-tenants/src/components/tenantDangerZone/__tests__/tenantDangerZone.component.spec.tsx
  packages/webapp-libs/webapp-tenants/src/components/tenantMembersList/__tests__/__snapshots__/tenantMembersList.component.spec.tsx.snap
  packages/webapp-libs/webapp-tenants/src/components/tenantMembersList/membershipEntry/__tests__/membershipEntry.component.spec.tsx
Due: eslint --fix

refactor: Update Add Organization form with card-based layout
  packages/webapp-libs/webapp-tenants/src/components/tenantForm/tenantForm.component.tsx
  packages/webapp-libs/webapp-tenants/src/components/tenantForm/tenantForm.stories.tsx
  packages/webapp-libs/webapp-tenants/src/routes/addTenantForm/__tests__/addTenantForm.component.spec.tsx
  packages/webapp-libs/webapp-tenants/src/routes/addTenantForm/addTenantForm.component.tsx
Due: eslint --fix
