Repository apptension/saas-boilerplate: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

chore(tooling): point the plugin marketplace at apptension-sdlc (#719)
  .claude/settings.json
Due: prettier --write

chore(tooling): enable the apptension-sdlc plugins
  .claude/settings.json
Due: prettier --write

chore(tooling): drop apptension-frontend-craft from the enabled set
  .claude/settings.json
Due: prettier --write

chore(tooling): enable the apptension-sdlc plugins (#721)
  .claude/settings.json
Due: prettier --write

fix(docker): switch Python base images from bullseye to bookworm
  .github/workflows/backend.yml
  .github/workflows/docs.yml
  packages/backend/Dockerfile
  packages/backend/Dockerfile.render
  packages/workers/Dockerfile
Due: none

fix(docker): switch Python base images from bullseye to bookworm (#723)
  .github/workflows/backend.yml
  .github/workflows/docs.yml
  packages/backend/Dockerfile
  packages/backend/Dockerfile.render
  packages/workers/Dockerfile
Due: none

chore: add .worktrees to .gitignore
  .gitignore
Due: none

feat(infra): remove external-ci IAM user — replaced by OIDC role
  packages/infra/infra-shared/src/stacks/global/resources/index.ts
Due: eslint --fix

feat(ci): update Bitbucket Pipelines deploy step to use OIDC
  bitbucket-pipelines.yml
Due: none

test(infra): add failing CDK assertion tests for CiOidcRole
  packages/infra/infra-shared/src/stacks/ci/ciOidcRole.spec.ts
Due: eslint --fix

feat(infra): add CI_PROVIDER enum and OIDC config vars to env-config
  packages/infra/infra-core/src/lib/env-config.ts
Due: eslint --fix

feat(infra): replace external-ci IAM user grant with CiOidcRole in CiEntrypoint
  packages/infra/infra-shared/src/stacks/ci/ciEntrypoint.ts
  packages/infra/infra-shared/src/stacks/ci/index.ts
Due: eslint --fix

feat(ci): update GitHub Actions to use OIDC instead of IAM key/secret
  .github/workflows/actions/deploy/action.yml
  .github/workflows/deploy-prod.yml
  .github/workflows/deploy-qa.yml
Due: none

feat(infra): add CiOidcRole construct for OIDC-based CI authentication
  packages/infra/infra-shared/src/stacks/ci/ciOidcRole.spec.ts
  packages/infra/infra-shared/src/stacks/ci/ciOidcRole.ts
Due: eslint --fix

chore: Remove ciOidcRole.spec.ts
  packages/infra/infra-shared/src/stacks/ci/ciOidcRole.spec.ts
Due: eslint --fix

fix(infra): add Bitbucket aud condition, fix newlines, add OIDC vars to .env.test
  .env.test
  packages/infra/infra-shared/src/stacks/ci/ciOidcRole.spec.ts
  packages/infra/infra-shared/src/stacks/ci/ciOidcRole.ts
  packages/infra/infra-shared/src/stacks/global/resources/index.ts
Due: eslint --fix

docs: update auto-deploy guide to use OIDC instead of IAM key/secret
  packages/internal/docs/docs/aws/cicd/auto-deploy.mdx
Due: none

docs: Fix the IODC docs
  packages/internal/docs/docs/aws/cicd/auto-deploy.mdx
  packages/internal/docs/docs/aws/deploy-to-aws/create-env-stage-in-repo.mdx
Due: none

chore(infra): upgrade RDS PostgreSQL engine from 17.2 to 18.2
  packages/infra/infra-shared/src/stacks/db/mainDatabase.ts
Due: eslint --fix

chore(infra): upgrade RDS PostgreSQL engine from 17.2 to 18.2 (#724)
  packages/infra/infra-shared/src/stacks/db/mainDatabase.ts
Due: eslint --fix

feat: Use IODC to authorize CI/CD (#722)
  .env.test
  .github/workflows/actions/deploy/action.yml
  .github/workflows/deploy-prod.yml
  .github/workflows/deploy-qa.yml
  .gitignore
  bitbucket-pipelines.yml
  packages/infra/infra-core/src/lib/env-config.ts
  packages/infra/infra-shared/src/stacks/ci/ciEntrypoint.ts
  packages/infra/infra-shared/src/stacks/ci/ciOidcRole.ts
  packages/infra/infra-shared/src/stacks/ci/index.ts
  packages/infra/infra-shared/src/stacks/global/resources/index.ts
  packages/internal/docs/docs/aws/cicd/auto-deploy.mdx
  packages/internal/docs/docs/aws/deploy-to-aws/create-env-stage-in-repo.mdx
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: any of: *.{json,md,html}
