Repository apptension/saas-boilerplate: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix: Correct pnpm installation on AWS pipeline
  package.json
  packages/infra/infra-core/src/lib/patterns/serviceCiConfig.ts
Due: eslint --fix, prettier --write

fix: Bump nodejs version in the pipelines
  .github/workflows/actions/setup/action.yml
  .github/workflows/deploy-render.yml
  bitbucket-pipelines.yml
  packages/infra/infra-core/src/lib/patterns/serviceCiConfig.ts
  packages/infra/infra-shared/src/stacks/ci/ciBackend.ts
  packages/infra/infra-shared/src/stacks/ci/ciComponents.ts
  packages/infra/infra-shared/src/stacks/ci/ciDocs.ts
  packages/infra/infra-shared/src/stacks/ci/ciMcpServer.ts
  packages/infra/infra-shared/src/stacks/ci/ciServerless.ts
  packages/infra/infra-shared/src/stacks/ci/ciUploadVersion.ts
  packages/infra/infra-shared/src/stacks/ci/ciWebApp.ts
Due: eslint --fix

fix: Docs OOM codebuild fail
  packages/infra/infra-shared/src/stacks/ci/ciDocs.ts
Due: eslint --fix

fix: Fix migrations
  packages/backend/apps/multitenancy/migrations/0013_seed_permissions.py
  packages/backend/infra/stacks/migrations/stack.ts
  packages/backend/scripts/runtime/run_migrations.sh
  packages/backend/scripts/triggerMigrationsJob.js
Due: eslint --fix

fix: Increase memory for the api container
  packages/backend/infra/stacks/api/stack.ts
Due: eslint --fix

fix: AWS deploy fixes (#690)
  .github/workflows/actions/setup/action.yml
  .github/workflows/deploy-render.yml
  bitbucket-pipelines.yml
  package.json
  packages/backend/apps/multitenancy/migrations/0013_seed_permissions.py
  packages/backend/infra/stacks/api/stack.ts
  packages/backend/infra/stacks/migrations/stack.ts
  packages/backend/scripts/runtime/run_migrations.sh
  packages/backend/scripts/triggerMigrationsJob.js
  packages/infra/infra-core/src/lib/patterns/serviceCiConfig.ts
  packages/infra/infra-shared/src/stacks/ci/ciBackend.ts
  packages/infra/infra-shared/src/stacks/ci/ciComponents.ts
  packages/infra/infra-shared/src/stacks/ci/ciDocs.ts
  packages/infra/infra-shared/src/stacks/ci/ciMcpServer.ts
  packages/infra/infra-shared/src/stacks/ci/ciServerless.ts
  packages/infra/infra-shared/src/stacks/ci/ciUploadVersion.ts
  packages/infra/infra-shared/src/stacks/ci/ciWebApp.ts
  packages/internal/cli/tsconfig.tsbuildinfo
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

chore(release): 5.0.0
  CHANGELOG.md
  package.json
  packages/backend/package.json
  packages/contentful/package.json
  packages/infra/infra-core/package.json
  packages/infra/infra-shared/package.json
  packages/internal/cli/package.json
  packages/internal/core/package.json
  packages/internal/docs/package.json
  packages/internal/status-dashboard/package.json
  packages/internal/tools/package.json
  packages/webapp-libs/webapp-api-client/package.json
  packages/webapp-libs/webapp-contentful/package.json
  packages/webapp-libs/webapp-core/package.json
  packages/webapp-libs/webapp-crud-demo/package.json
  packages/webapp-libs/webapp-documents/package.json
  packages/webapp-libs/webapp-emails/package.json
  packages/webapp-libs/webapp-finances/package.json
  packages/webapp-libs/webapp-generative-ai/package.json
  packages/webapp-libs/webapp-notifications/package.json
  packages/webapp-libs/webapp-tenants/package.json
  packages/webapp/package.json
  packages/workers/package.json
Due: prettier --write

fix: MCP build and deploy on AWS env
  packages/backend/infra/stacks/api/stack.ts
  packages/backend/infra/stacks/lib/names.ts
  packages/backend/infra/stacks/lib/secrets.ts
  packages/backend/infra/stacks/mcpServer/stack.ts
  packages/infra/infra-core/src/lib/env-config.ts
  packages/infra/infra-core/src/lib/patterns/applicationMultipleTargetGroupsFargateServiceBase.ts
  packages/infra/infra-core/src/lib/patterns/serviceCiConfig.ts
  packages/infra/infra-shared/src/stacks/ci/ciMcpServer.ts
  packages/internal/cli/src/commands/mcp-server/secrets.ts
  packages/internal/cli/tsconfig.tsbuildinfo
  packages/internal/docs/docs/aws/deploy-to-aws/create-runtime-env-vars.mdx
  packages/internal/docs/docs/aws/troubleshooting.mdx
  packages/internal/docs/docs/deployment/environment-variables.mdx
  packages/mcp-server/Dockerfile
  packages/mcp-server/docker-entrypoint.sh
  packages/mcp-server/scripts/build.js
Due: eslint --fix

fix: MCP build and deploy on AWS env (#691)
  packages/backend/infra/stacks/api/stack.ts
  packages/backend/infra/stacks/lib/names.ts
  packages/backend/infra/stacks/lib/secrets.ts
  packages/backend/infra/stacks/mcpServer/stack.ts
  packages/infra/infra-core/src/lib/env-config.ts
  packages/infra/infra-core/src/lib/patterns/applicationMultipleTargetGroupsFargateServiceBase.ts
  packages/infra/infra-core/src/lib/patterns/serviceCiConfig.ts
  packages/infra/infra-shared/src/stacks/ci/ciMcpServer.ts
  packages/internal/cli/src/commands/mcp-server/secrets.ts
  packages/internal/cli/tsconfig.tsbuildinfo
  packages/internal/docs/docs/aws/deploy-to-aws/create-runtime-env-vars.mdx
  packages/internal/docs/docs/aws/troubleshooting.mdx
  packages/internal/docs/docs/deployment/environment-variables.mdx
  packages/mcp-server/Dockerfile
  packages/mcp-server/docker-entrypoint.sh
  packages/mcp-server/scripts/build.js
Due: eslint --fix

Fix CiStack IAM policy collision across environments
  packages/infra/infra-shared/src/stacks/ci/ciEntrypoint.ts
Due: eslint --fix

fix: Bump redis node type
  packages/infra/infra-shared/src/stacks/main/mainRedisCluster.ts
Due: eslint --fix

docs: Update AWS setup docs
  packages/internal/docs/docs/aws/deploy-to-aws/configure-aws-credentials.mdx
  packages/internal/docs/docs/aws/deploy-to-aws/create-env-stage-in-repo.mdx
Due: none

Add MseeP.ai badge to README.md
  README.md
Due: prettier --write

fix: support arbitrary nesting depth in nestedPath helper
  packages/webapp-libs/webapp-core/src/utils/__tests__/path.spec.ts
  packages/webapp-libs/webapp-core/src/utils/path.ts
Due: eslint --fix

fix(infra): resolve ExternalCI user bucket access issue when multiple environments are deployed
  packages/infra/infra-shared/src/stacks/ci/ciEntrypoint.ts
Due: eslint --fix

docs: add dev flow bindings and register the Apptension marketplace
  .claude/settings.json
  CLAUDE.md
Due: prettier --write

chore(ci): disable broken SonarCloud step until token is confirmed
  .github/workflows/backend.yml
  .github/workflows/webapp.yml
  .github/workflows/workers.yml
Due: none

chore(ci): disable broken SonarCloud step until token is confirmed (#706)
  .github/workflows/backend.yml
  .github/workflows/webapp.yml
  .github/workflows/workers.yml
Due: none

docs: add dev flow bindings and register the Apptension marketplace (#702)
  .claude/settings.json
  CLAUDE.md
Due: prettier --write

docs: document the issue area labels
  .github/ISSUE_TEMPLATE/docs.yml
  CONTRIBUTING.md
Due: prettier --write

docs: document the issue area labels (#708)
  .github/ISSUE_TEMPLATE/docs.yml
  CONTRIBUTING.md
Due: prettier --write

ci: run workflows on pull requests, not only branch pushes
  .github/workflows/backend.yml
  .github/workflows/docs.yml
  .github/workflows/infra.yml
  .github/workflows/status-dashboard.yml
  .github/workflows/tools.yml
  .github/workflows/webapp.yml
  .github/workflows/workers.yml
Due: none

feat(ci): validate AUTOMATED_REVIEWER before running automated review
  .github/workflows/automated-code-review.yml
Due: none

feat(ci): add codex analysis job for same-repo PRs
  .github/workflows/automated-code-review.yml
Due: none

feat(ci): add codex review prompt
  .github/workflows/prompts/codex-review.md
Due: prettier --write

feat(ci): add review comment dedup logic with unit test
  .github/workflows/scripts/dedupe-review-comment.js
  .github/workflows/scripts/dedupe-review-comment.test.js
Due: none

feat(ci): post codex review findings as a deduped PR comment
  .github/workflows/automated-code-review.yml
Due: none

feat(ci): add stable Automated Code Review aggregate check
  .github/workflows/automated-code-review.yml
Due: none

fix(ci): address actionlint findings in automated-code-review workflow
  .github/workflows/automated-code-review.yml
Due: none

fix(ci): restore read-only sandbox via sandbox input
  .github/workflows/automated-code-review.yml
Due: none

fix(ci): widen post-review scope, bound codex job, fail loudly on empty output
  .github/workflows/automated-code-review.yml
Due: none

docs: commit the automated PR review spec and plan
  docs/superpowers/plans/2026-09-01-automated-pr-review-plan.md
  docs/superpowers/specs/2026-09-01-automated-pr-review-design.md
Due: prettier --write

docs: document automated code review setup and removal for forks
  packages/internal/docs/docs/working-with-sb/dev-tools/automated-code-review.mdx
  packages/internal/docs/docs/working-with-sb/dev-tools/index.mdx
Due: none

feat(ci): automated codex review on pull requests (#710)
  .github/workflows/automated-code-review.yml
  .github/workflows/prompts/codex-review.md
  .github/workflows/scripts/dedupe-review-comment.js
  .github/workflows/scripts/dedupe-review-comment.test.js
  docs/superpowers/plans/2026-09-01-automated-pr-review-plan.md
  docs/superpowers/specs/2026-09-01-automated-pr-review-design.md
  packages/internal/docs/docs/working-with-sb/dev-tools/automated-code-review.mdx
  packages/internal/docs/docs/working-with-sb/dev-tools/index.mdx
Due: prettier --write

fix(tooling): make pre-commit hook fail on lint-staged errors
  .husky/pre-commit
Due: none

fix(tooling): make pre-commit hook fail on lint-staged errors (#712)
  .husky/pre-commit
Due: none

docs: wire the Board binding to project #2
  CLAUDE.md
Due: prettier --write

docs: wire the Board binding to project #2 (#715)
  CLAUDE.md
Due: prettier --write

chore(tooling): point the plugin marketplace at apptension-sdlc
  .claude/settings.json
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: any of: *.{json,md,html}
