Repository apptension/saas-boilerplate: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx}": "eslint --fix",
  "*.{json,md,html}": "prettier --write"
}

feat: Restyle Contentful demo pages with Card-based UI and graceful error handling
  packages/webapp-libs/webapp-contentful/src/hooks/useFavoriteDemoItem/index.ts
  packages/webapp-libs/webapp-contentful/src/hooks/useFavoriteDemoItem/useFavoriteDemoItem.hook.ts
  packages/webapp-libs/webapp-contentful/src/routes/demoItem/__tests__/demoItem.component.spec.tsx
  packages/webapp-libs/webapp-contentful/src/routes/demoItem/demoItem.component.tsx
  packages/webapp-libs/webapp-contentful/src/routes/demoItem/demoItem.stories.tsx
  packages/webapp-libs/webapp-contentful/src/routes/demoItem/demoItemContent.component.tsx
  packages/webapp-libs/webapp-contentful/src/routes/demoItems/__tests__/demoItems.component.spec.tsx
  packages/webapp-libs/webapp-contentful/src/routes/demoItems/demoItemListItem/demoItemListItem.component.tsx
  packages/webapp-libs/webapp-contentful/src/routes/demoItems/demoItems.component.tsx
  packages/webapp-libs/webapp-contentful/src/routes/demoItems/demoItems.stories.tsx
  packages/webapp-libs/webapp-contentful/src/routes/demoItems/listSkeleton/index.ts
  packages/webapp-libs/webapp-contentful/src/routes/demoItems/listSkeleton/listSkeleton.component.tsx
Due: eslint --fix

feat: Redesign Documents page with Card-based UI and fix RelativeDate error handling
  packages/webapp-libs/webapp-core/src/components/dateTime/relativeDate/__tests__/relativeDate.component.spec.tsx
  packages/webapp-libs/webapp-core/src/components/dateTime/relativeDate/relativeDate.component.tsx
  packages/webapp-libs/webapp-documents/src/routes/documents/__tests__/documents.component.spec.tsx
  packages/webapp-libs/webapp-documents/src/routes/documents/document/document.component.tsx
  packages/webapp-libs/webapp-documents/src/routes/documents/document/document.stories.tsx
  packages/webapp-libs/webapp-documents/src/routes/documents/document/skeleton/skeleton.component.tsx
  packages/webapp-libs/webapp-documents/src/routes/documents/document/skeleton/skeleton.stories.tsx
  packages/webapp-libs/webapp-documents/src/routes/documents/documents.component.tsx
  packages/webapp-libs/webapp-documents/src/routes/documents/documents.stories.tsx
Due: eslint --fix

feat: Redesign SubscriptionPlanItem with visual distinctions and add Badge component
  packages/webapp-libs/webapp-core/src/components/ui/__stories__/badge.stories.tsx
  packages/webapp-libs/webapp-core/src/components/ui/__tests__/badge.component.spec.tsx
  packages/webapp-libs/webapp-core/src/components/ui/badge.tsx
  packages/webapp-libs/webapp-finances/src/routes/editSubscription/subscriptionPlanItem/__tests__/subscriptionPlanItem.component.spec.tsx
  packages/webapp-libs/webapp-finances/src/routes/editSubscription/subscriptionPlanItem/subscriptionPlanItem.component.tsx
  packages/webapp-libs/webapp-finances/src/routes/editSubscription/subscriptionPlanItem/subscriptionPlanItem.stories.tsx
Due: eslint --fix

fix: Correct initialData syntax in editItem and itemForm component tests
  packages/webapp/plop/crud/templates/components/editItem/editItem.component.hbs
  packages/webapp/plop/crud/templates/components/itemForm/__tests__/itemForm.component.spec.hbs
Due: none

feat: Add pixel-art styled 404 Not Found page with glitch effects
  packages/webapp/src/app/app.component.tsx
  packages/webapp/src/routes/notFound/__tests__/notFound.component.spec.tsx
  packages/webapp/src/routes/notFound/notFound.component.tsx
  tailwind.workspace-preset.ts
Due: eslint --fix

feat: Add resend invitation button for pending tenant members
  .cursor/rules/backend.mdc
  .cursor/rules/components.mdc
  .cursor/rules/file-naming.mdc
  .cursor/rules/testing.mdc
  .cursor/rules/top-rules.mdc
  packages/backend/apps/multitenancy/schema.py
  packages/backend/apps/multitenancy/serializers.py
  packages/backend/apps/multitenancy/tests/test_serializers.py
  packages/webapp-libs/webapp-api-client/graphql/schema/api.graphql
  packages/webapp-libs/webapp-api-client/src/graphql/__generated/gql/gql.ts
  packages/webapp-libs/webapp-api-client/src/graphql/__generated/gql/graphql.ts
  packages/webapp-libs/webapp-tenants/src/components/tenantMembersList/membershipEntry/__tests__/membershipEntry.component.spec.tsx
  packages/webapp-libs/webapp-tenants/src/components/tenantMembersList/membershipEntry/membershipEntry.component.tsx
  packages/webapp-libs/webapp-tenants/src/components/tenantMembersList/membershipEntry/membershipEntry.graphql.ts
  packages/webapp-libs/webapp-tenants/src/routes/tenantSettings/tenantMembers/invitationForm/__tests__/invitationForm.component.spec.tsx
  packages/webapp-libs/webapp-tenants/src/routes/tenantSettings/tenantMembers/invitationForm/index.ts
  packages/webapp-libs/webapp-tenants/src/routes/tenantSettings/tenantMembers/invitationForm/invitationForm.component.tsx
Due: eslint --fix

style: Add trailing newlines to files
  packages/webapp-libs/webapp-contentful/src/routes/demoItems/listSkeleton/index.ts
  packages/webapp-libs/webapp-contentful/src/routes/demoItems/listSkeleton/listSkeleton.component.tsx
  packages/webapp-libs/webapp-core/src/components/ui/__stories__/badge.stories.tsx
  packages/webapp-libs/webapp-core/src/components/ui/__tests__/badge.component.spec.tsx
  packages/webapp-libs/webapp-core/src/components/ui/badge.tsx
  packages/webapp/plop/crud/templates/components/itemList/itemListItem/itemDropDownMenu/itemDropdownMenu.component.hbs
Due: eslint --fix

fix: Align page header icons with sidebar navigation icons
  packages/webapp-libs/webapp-finances/src/routes/paymentConfirm/paymentConfirm.component.tsx
  packages/webapp/src/routes/home/home.component.tsx
Due: eslint --fix

feat: Add data-driven dashboard with charts and statistics
  packages/webapp-libs/webapp-api-client/src/graphql/__generated/gql/gql.ts
  packages/webapp-libs/webapp-api-client/src/graphql/__generated/gql/graphql.ts
  packages/webapp-libs/webapp-core/package.json
  packages/webapp-libs/webapp-core/src/components/ui/chart.tsx
  packages/webapp-libs/webapp-finances/src/components/stripe/stripePaymentMethodSelector/methods/newCardInput/newCardInput.component.tsx
  packages/webapp/src/routes/home/__tests__/home.component.spec.tsx
  packages/webapp/src/routes/home/home.component.tsx
  packages/webapp/src/routes/home/home.graphql.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

style: Update dashboard charts to use brand gradient colors
  packages/webapp-libs/webapp-core/src/components/ui/chart.tsx
  packages/webapp/src/routes/home/home.component.tsx
Due: eslint --fix

style: Update stat cards with colored icon backgrounds and black icons
  packages/webapp-libs/webapp-core/src/components/ui/chart.tsx
Due: eslint --fix

style: Add brand gradient to badges and enhance chart tooltips
  packages/webapp-libs/webapp-core/src/components/ui/badge.tsx
  packages/webapp-libs/webapp-core/src/components/ui/chart.tsx
  packages/webapp/src/routes/home/home.component.tsx
Due: eslint --fix

style: Improve dashboard Quick Actions and 2FA modal UX
  packages/webapp/src/routes/home/home.component.tsx
  packages/webapp/src/shared/components/auth/addTwoFactorAuth/__tests__/addTwoFactorAuth.component.spec.tsx
  packages/webapp/src/shared/components/auth/addTwoFactorAuth/addTwoFactorAuth.component.tsx
Due: eslint --fix

docs: Improve email and Mailcatcher documentation
  packages/internal/docs/docs/getting-started/run-project/_start-app.mdx
  packages/internal/docs/docs/introduction/features/emails.mdx
  packages/internal/docs/docs/shared/partials/env-vars/_backend_email.mdx
  packages/internal/docs/docs/working-with-sb/dev-tools/mailcatcher.mdx
  packages/internal/docs/docs/working-with-sb/emails/send-email.mdx
Due: none

docs: Enhance documentation with new components and modern styling
  packages/internal/docs/docs/api-reference/index.mdx
  packages/internal/docs/docs/aws/index.mdx
  packages/internal/docs/docs/getting-started/index.mdx
  packages/internal/docs/docs/index.mdx
  packages/internal/docs/docs/introduction/features/index.mdx
  packages/internal/docs/docs/introduction/index.mdx
  packages/internal/docs/docs/shared/components/Badge.component.tsx
  packages/internal/docs/docs/shared/components/FeatureCard.component.tsx
  packages/internal/docs/docs/shared/components/FeatureGrid.component.tsx
  packages/internal/docs/docs/shared/components/Highlight.component.tsx
  packages/internal/docs/docs/shared/components/Icon.component.tsx
  packages/internal/docs/docs/shared/components/QuickLink.component.tsx
  packages/internal/docs/docs/shared/components/Step.component.tsx
  packages/internal/docs/docs/shared/components/Steps.component.tsx
  packages/internal/docs/docs/shared/components/TechStack.component.tsx
  packages/internal/docs/docs/working-with-sb/index.mdx
  packages/internal/docs/docusaurus.config.js
  packages/internal/docs/package.json
  packages/internal/docs/sidebars.js
  packages/internal/docs/src/css/custom.css
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

docs: Redesign documentation hero section with premium styling
  packages/internal/docs/docs/index.mdx
  packages/internal/docs/src/css/custom.css
Due: none

feat(webapp): Refactor sidebar with organized menu sections
  packages/webapp/src/shared/components/layout/sidebar/__tests__/sidebar.component.spec.tsx
  packages/webapp/src/shared/components/layout/sidebar/sidebar.component.tsx
Due: eslint --fix

docs: Fix documentation accuracy issues and improve developer experience
  packages/internal/docs/docs/api-reference/index.mdx
  packages/internal/docs/docs/api-reference/webapp/commands.mdx
  packages/internal/docs/docs/aws/deploy-to-aws/configure-aws-credentials.mdx
  packages/internal/docs/docs/aws/deploy-to-aws/create-runtime-env-vars.mdx
  packages/internal/docs/docs/aws/deploy-to-aws/deploy-infrastructure.mdx
  packages/internal/docs/docs/aws/deploy-to-aws/run-deployment-commands.mdx
  packages/internal/docs/docs/getting-started/index.mdx
  packages/internal/docs/docs/getting-started/run-project/_requirements.mdx
  packages/internal/docs/docs/getting-started/run-project/_start-app.mdx
  packages/internal/docs/docs/introduction/stack-description.mdx
  packages/internal/docs/docs/shared/partials/env-vars/_backend.mdx
  packages/internal/docs/docs/working-with-sb/async-workers/debug-async-job-celery.mdx
  packages/internal/docs/docs/working-with-sb/emails/create-email-template.mdx
  packages/internal/docs/docs/working-with-sb/graphql/backend/working-with-serializers.mdx
  packages/internal/docs/docs/working-with-sb/graphql/web-app/component-with-query.mdx
  packages/internal/docs/docs/working-with-sb/graphql/web-app/form-with-mutation.mdx
  packages/internal/docs/docs/working-with-sb/graphql/web-app/update-schema.mdx
  packages/internal/docs/docs/working-with-sb/graphql/web-app/use-fragments.mdx
  packages/internal/docs/docs/working-with-sb/guides/web-app/create-react-component.mdx
  packages/internal/docs/docs/working-with-sb/notifications/create-notification.mdx
  packages/internal/docs/docs/working-with-sb/project-structure/create-web-lib.mdx
  packages/internal/docs/docs/working-with-sb/shadcn.mdx
  packages/internal/docs/docs/working-with-sb/tests/backend.mdx
  packages/internal/docs/docs/working-with-sb/users/admin-page.mdx
  packages/internal/docs/docs/working-with-sb/users/create-oauth-method.mdx
  packages/internal/docs/docs/working-with-sb/users/create-role.mdx
  packages/internal/docs/docs/working-with-sb/users/index.mdx
Due: none

fix(cli): Correct description for down command
  packages/internal/cli/src/commands/down.ts
Due: eslint --fix

feat(contentful): redesign Terms and Privacy pages with error handling
  packages/webapp-libs/webapp-contentful/src/routes/privacyPolicy/__tests__/privacyPolicy.component.spec.tsx
  packages/webapp-libs/webapp-contentful/src/routes/privacyPolicy/privacyPolicy.component.tsx
  packages/webapp-libs/webapp-contentful/src/routes/privacyPolicy/privacyPolicy.stories.tsx
  packages/webapp-libs/webapp-contentful/src/routes/termsAndConditions/__tests__/termsAndConditions.component.spec.tsx
  packages/webapp-libs/webapp-contentful/src/routes/termsAndConditions/termsAndConditions.component.tsx
  packages/webapp-libs/webapp-contentful/src/routes/termsAndConditions/termsAndConditions.stories.tsx
Due: eslint --fix

feat(admin): beautify admin page with RBAC documentation
  packages/webapp/src/routes/admin/__tests__/admin.component.spec.tsx
  packages/webapp/src/routes/admin/admin.component.tsx
Due: eslint --fix

chore: add trailing newlines to files for consistent formatting
  packages/internal/docs/docs/shared/components/Badge.component.tsx
  packages/internal/docs/docs/shared/components/FeatureCard.component.tsx
  packages/internal/docs/docs/shared/components/FeatureGrid.component.tsx
  packages/internal/docs/docs/shared/components/Highlight.component.tsx
  packages/internal/docs/docs/shared/components/Icon.component.tsx
  packages/internal/docs/docs/shared/components/QuickLink.component.tsx
  packages/internal/docs/docs/shared/components/Step.component.tsx
  packages/internal/docs/docs/shared/components/Steps.component.tsx
  packages/internal/docs/docs/shared/components/TechStack.component.tsx
  packages/webapp-libs/webapp-contentful/src/routes/demoItems/listSkeleton/index.ts
  packages/webapp-libs/webapp-contentful/src/routes/demoItems/listSkeleton/listSkeleton.component.tsx
  packages/webapp-libs/webapp-core/src/components/ui/__stories__/badge.stories.tsx
  packages/webapp-libs/webapp-core/src/components/ui/__tests__/badge.component.spec.tsx
  packages/webapp/plop/crud/templates/components/itemList/itemListItem/itemDropDownMenu/itemDropdownMenu.component.hbs
  packages/webapp/src/routes/notFound/__tests__/notFound.component.spec.tsx
Due: eslint --fix

fix(docs): prevent horizontal overflow on html element
  packages/internal/docs/src/css/custom.css
Due: none

fix(audit-logs): fix 401 errors and improve UI
  packages/webapp-libs/webapp-api-client/src/api/index.ts
  packages/webapp-libs/webapp-tenants/src/routes/tenantSettings/tenantSecuritySettings/components/auditLogCard.tsx
  packages/webapp/src/app/providers/apiProvider.tsx
Due: eslint --fix

feat(security): improve UI/UX consistency across security settings cards
  packages/webapp-libs/webapp-tenants/src/routes/tenantSettings/tenantSecuritySettings/__tests__/tenantSecuritySettings.component.spec.tsx
  packages/webapp-libs/webapp-tenants/src/routes/tenantSettings/tenantSecuritySettings/components/__tests__/ssoConnectionCard.component.spec.tsx
  packages/webapp-libs/webapp-tenants/src/routes/tenantSettings/tenantSecuritySettings/components/addPasskeyModal.tsx
  packages/webapp-libs/webapp-tenants/src/routes/tenantSettings/tenantSecuritySettings/components/addSSOConnectionModal.tsx
  packages/webapp-libs/webapp-tenants/src/routes/tenantSettings/tenantSecuritySettings/components/auditLogCard.tsx
  packages/webapp-libs/webapp-tenants/src/routes/tenantSettings/tenantSecuritySettings/components/directorySyncCard.tsx
  packages/webapp-libs/webapp-tenants/src/routes/tenantSettings/tenantSecuritySettings/components/ssoConnectionCard.tsx
  packages/webapp/src/shared/components/auth/addTwoFactorAuth/addTwoFactorAuth.component.tsx
  packages/webapp/src/shared/components/auth/passkeysForm/passkeysForm.component.tsx
Due: eslint --fix

Update translations admin template and SSO admin configuration
  packages/backend/apps/sso/admin.py
Due: none

chore(release): 4.2.0
  CHANGELOG.md
  package.json
  packages/backend/package.json
  packages/contentful/package.json
  packages/infra/infra-core/package.json
  packages/infra/infra-shared/package.json
  packages/internal/cli/package.json
  packages/internal/core/package.json
  packages/internal/docs/package.json
  packages/internal/status-dashboard/package.json
  packages/internal/tools/package.json
  packages/webapp-libs/webapp-api-client/package.json
  packages/webapp-libs/webapp-contentful/package.json
  packages/webapp-libs/webapp-core/package.json
  packages/webapp-libs/webapp-crud-demo/package.json
  packages/webapp-libs/webapp-documents/package.json
  packages/webapp-libs/webapp-emails/package.json
  packages/webapp-libs/webapp-finances/package.json
  packages/webapp-libs/webapp-generative-ai/package.json
  packages/webapp-libs/webapp-notifications/package.json
  packages/webapp-libs/webapp-tenants/package.json
  packages/webapp/package.json
  packages/workers/package.json
Due: prettier --write

fix: resolve blank page issue after login/logout
  packages/webapp/src/app/providers/validRoutesProvider/validRoutesProviders.tsx
  packages/webapp/src/routes/auth/logout/logout.component.tsx
  packages/webapp/src/shared/components/auth/loginForm/loginForm.hooks.ts
  packages/webapp/src/shared/components/auth/validateOtpForm/validateOtpForm.component.tsx
Due: eslint --fix

fix: resolve GraphQL type collision and improve 2FA UX
  package.json
  packages/webapp-libs/webapp-api-client/scripts/remove-duplicate-types.js
  packages/webapp-libs/webapp-api-client/src/graphql/__generated/gql/gql.ts
  packages/webapp-libs/webapp-api-client/src/graphql/__generated/gql/graphql.ts
  packages/webapp-libs/webapp-contentful/src/routes/privacyPolicy/privacyPolicy.component.tsx
  packages/webapp-libs/webapp-contentful/src/routes/termsAndConditions/termsAndConditions.component.tsx
  packages/webapp-libs/webapp-core/src/components/markdownPage/markdownPage.component.tsx
  packages/webapp-libs/webapp-sso/src/hooks/usePasskeys.ts
  packages/webapp/src/shared/components/auth/twoFactorAuthForm/__tests__/twoFactorAuthForm.component.spec.tsx
  packages/webapp/src/shared/components/auth/twoFactorAuthForm/twoFactorAuthForm.component.tsx
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

fix: improve UX for language switcher and subscription empty states
  .nx/workspace-data/d/daemon.log
  .nx/workspace-data/d/server-process.json
  .nx/workspace-data/file-map.json
  .nx/workspace-data/lockfile.hash
  .nx/workspace-data/parsed-lock-file.json
  .nx/workspace-data/project-graph.json
  .nx/workspace-data/task-history.csv
  packages/webapp-libs/webapp-finances/src/routes/subscriptions/paymentMethod.content.tsx
  packages/webapp-libs/webapp-finances/src/routes/subscriptions/subscriptions.content.tsx
  packages/webapp-libs/webapp-finances/src/routes/subscriptions/transactionsHistory.content.tsx
  packages/webapp/src/routes/home/home.component.tsx
  packages/webapp/src/shared/components/layout/header/languageSwitcher/languageSwitcher.component.tsx
Due: eslint --fix, prettier --write

fix: try token refresh before redirecting to login on 401 errors
  packages/webapp-libs/webapp-api-client/src/graphql/apolloClient.ts
Due: eslint --fix

fix: resolve LocalStack S3 configuration for local development
  docker-compose.local.yml
  packages/backend/config/settings.py
  packages/backend/scripts/runtime/install_localstack_fixtures.sh
Due: none

feat: add unread notifications count and improve admin features
  packages/backend/apps/finances/admin.py
  packages/backend/apps/notifications/schema.py
  packages/backend/apps/notifications/services.py
  packages/backend/apps/notifications/tests/test_schema/test_has_unread_notifications.py
  packages/backend/apps/translations/templates/admin/translations/locale/ai_progress.html
  packages/backend/apps/translations/templates/admin/translations/locale/ai_translate.html
  packages/webapp-libs/webapp-api-client/graphql/schema/api.graphql
  packages/webapp-libs/webapp-api-client/src/graphql/__generated/gql/gql.ts
  packages/webapp-libs/webapp-api-client/src/graphql/__generated/gql/graphql.ts
  packages/webapp-libs/webapp-core/src/translations/en.json
  packages/webapp-libs/webapp-core/src/translations/master.json
  packages/webapp-libs/webapp-notifications/src/notification/notification.graphql.ts
  packages/webapp-libs/webapp-notifications/src/notification/notification.hooks.ts
  packages/webapp-libs/webapp-notifications/src/notifications.graphql.ts
  packages/webapp-libs/webapp-notifications/src/notificationsButton/notificationsButton.component.tsx
  packages/webapp-libs/webapp-notifications/src/notificationsButton/notificationsButton.stories.tsx
  packages/webapp-libs/webapp-notifications/src/notificationsList/notificationsList.graphql.ts
  packages/webapp-libs/webapp-notifications/src/notificationsList/notificationsList.hooks.ts
Due: eslint --fix, prettier --write
